/* Contacts v2.0 */

/* Contacts Main Container (.contacts-main-container) */

.contacts-main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 1%;
}
.contacts-main-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts-main-container-header-nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.create-contact-btn {
  background-color: #FF9e67;
  border: 1px solid #FF9e67;
  border-radius: 3px;
  padding: 6px 12px;
  font-size: 1em;
  cursor: pointer;
  color: #ffffff;
  transition: border-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  height: 100%;
}
.create-contact-btn:hover {
  background-color: #FF8e57;
  border-color: #FF8e57;
}
.more-contact-btn {
  border: 1px solid #777777;
  border-radius: 3px;
  background-color: transparent;
  width: 40px; /* To make it a square */
  padding: 6px 12px;
  font-size: 1em;
  cursor: pointer;
  color: #777777;
  transition: border-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.more-contact-btn:hover {
  border-color: #000000;
  color: #000000;
}
.contacts-main-container-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contacts-main-container-body-filtering-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
}
.contacts-filters {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.contacts-search {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
}
.contacts-search input {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 1em;
}
.contacts-search input:focus {
  outline: none;
}
.contacts-filters button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 0.9em;
  color: #777777;
  white-space: nowrap;
  transition: color 0.1s ease-in-out;
}
.contacts-filters button:hover {
  color: #555555;
}
.contacts-view {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.contacts-owners {
  border-right: 1px solid #777777;
  border-left: 1px solid #777777;
  padding: 0 15px;
}
.contacts-sort {
  border-right: 1px solid #777777;
  padding-right: 15px;
}
.contacts-main-container-body-categories {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  overflow-x: auto;
  white-space: nowrap;
}
.contacts-main-container-body-categories .category {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  padding: 20px 25px;
  border-bottom: 2px solid transparent;
  color: #777777;
}
.contacts-main-container-body-categories .category:hover {
  border-bottom: 2px solid #ff9f6784;
}
.contacts-main-container-body-categories .category-number {
  background-color: transparent;
  color: #777777;
  border: 1px solid #777777;
  padding: 4px;
  border-radius: 50px;
  font-size: 0.8em;
  font-weight: 600;
}
.contacts-main-container-body-categories .category.active, .contacts-main-container-body-categories .category.active:hover {
  border-bottom: 2px solid #FF9e67;
  color: #000000;
}
.contacts-main-container-body-categories .category.active .category-number {
  background-color: #FF9e67;
  color: #ffffff;
  border: 1px solid #ff9e67;
}
.contacts-main-container-body-contacts-cv {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}
.contact-card {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  overflow: hidden;
  height: auto;
  padding: 20px;
}
.contact-card-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact-card-header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.contact-card-header-left p {
  color: #777777;
  font-size: 0.9em;
}
.contact-card-header h3, .contact-card-header p {
  margin: 0;
}
.contact-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.contact-card-header-right span {
  font-size: 0.8em;
  color: #777777;
}
.contact-card hr {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #f5f7fa;
}
.contact-card-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.contact-card-body div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.contact-card-body div span {
  color: #777777;
  font-size: 1em;
}
.contact-card-body div fa-icon {
  color: #777777;
}
.contact-card-footer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
}
.contact-card-footer .contact-type {
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 0.9em;
  cursor: pointer;
}
.contact-card-footer .contact-type.not-provided {
  background-color: #f5f7fa;
  color: #888888;
}
.contact-card-footer .contact-type.customer {
  background-color: rgba(58, 134, 255, 0.1);
  color: rgb(58,134,255);
}
.contact-card-footer .contact-type.prospect {
  background-color: rgba(165, 113, 238, 0.1);
  color: rgb(165, 113, 238);
}
.contact-card-footer fa-icon {
  color: #777777;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}
.contact-card-footer fa-icon:hover {
  color: #555555;
}

/* Contacts Action Container (.contacts-action-container) */

.contacts-action {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.contacts-action-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow-y: scroll; /* Enable scrolling */
}
.contacts-action-content {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 40px 50px;
  width: 700px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.15);
}
.contacts-action-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.contacts-action h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}
.contacts-action h2 {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}
.contacts-action p {
  font-size: 0.9em;
  color: #777777;
  margin: 10px 0;
}
.close-contact-action-btn-1 {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  color: #777777;
  transition: color 0.1s ease-in-out;
}
.close-contact-action-btn-1:hover {
  color: #666666;
}
.contact-action-form-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}
.close-contact-action-btn-2 {
  border: 1px solid #777777;
  border-radius: 4px;
  background-color: transparent;
  padding: 10px 30px;
  font-size: 1em;
  cursor: pointer;
  color: #777777;
  transition: border-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.close-contact-action-btn-2:hover {
  border-color: #000000;
  color: #000000;
}
.save-contact-action-btn {
  background-color: #FF9e67;
  border: 1px solid #FF9e67;
  border-radius: 4px;
  padding: 10px 30px;
  font-size: 1em;
  cursor: pointer;
  color: #ffffff;
  transition: border-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}
.save-contact-action-btn:hover {
  background-color: #FF8e57;
  border-color: #FF8e57;
}
.contact-action-form {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-action-form-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px
}
.contact-action-form-content fieldset {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.contact-action-form-content fieldset label {
  font-size: 0.9em;
  color: #777777;
  margin: 0 0 4px 0;
}
.contact-action-form-content fieldset input {
  border: 1px solid #eeeeee;
  border-radius: 4px;
  padding: 10px;
  font-size: 0.9em;
}
.contact-action-form-content fieldset input:focus {
  outline: none;
}
.contact-action-form-content fieldset select {
  border: 1px solid #eeeeee;
  border-radius: 4px;
  padding: 10px;
  font-size: 0.9em;
  height: 39px;
  cursor: pointer;
}
.contact-action-form-content fieldset select:focus {
  outline: none;
}
.contact-action-form-content fieldset input:focus, .contact-action-form-content fieldset select:focus {
  border-color: #FF9e67;
}
.contact-action-info .red, .contact-action-sidebar-form .red {
  color: #ff0800;
}

/* Contacts Sidebar Action Container (.contacts-sidebar-action-container) */

.contacts-action-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.contacts-action-sidebar-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}
.contacts-action-sidebar-content {
  background-color: #ffffff;
  /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; */
  width: 700px;
  height: 100%;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.15);
}
.contacts-action-sidebar-content-container {
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
}
.contacts-action-sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.contacts-action-sidebar-header div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.close-contact-sidebar-btn {
  color: #000000;
}
.close-contact-sidebar-btn:hover {
  color: #111111;
}
.edit-contact-action-btn {
  border: 1px solid #ff9e67;
  background-color: transparent;
  cursor: pointer;
  font-size: 1em;
  color: #ff9e67;
  transition: color 0.1s ease-in-out, border 0.1s ease-in-out;
  padding: 6px 12px;
  border-radius: 3px;
}
.edit-contact-action-btn:hover {
  color: #ff8e57;
  border: 1px solid #ff8e57;
}
.contact-appt-btn {
  border: 1px solid #007BFF;
  background-color: #007BFF;
  color: #ffffff;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.1s ease-in-out, border 0.1s ease-in-out;
  padding: 6px 12px;
  border-radius: 3px;
}
.contact-appt-btn:hover {
  background-color: #2962FF;
  border: 1px solid #2962FF;
}
.contact-action-sidebar-form {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-action-sidebar-form-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px
}
.contact-action-sidebar-form-content fieldset {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.contact-action-sidebar-form-content fieldset label {
  font-size: 0.9em;
  color: #777777;
  margin: 0 0 4px 0;
}
.contact-action-sidebar-form-content fieldset input {
  border: 1px solid #eeeeee;
  border-radius: 4px;
  padding: 10px;
  font-size: 0.9em;
}
.contact-action-sidebar-form-content fieldset input:focus {
  outline: none;
}
.contact-action-sidebar-form-content fieldset select {
  border: 1px solid #eeeeee;
  border-radius: 4px;
  padding: 10px;
  font-size: 0.9em;
  height: 100%;
  cursor: pointer;
}
.contact-action-sidebar-form-content fieldset select:focus {
  outline: none;
}
.contact-action-sidebar-form-content fieldset input:focus, .contact-action-sidebar-form-content fieldset select:focus {
  border-color: #FF9e67;
}
.contact-action-form-sidebar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 30px;
  width: 640px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  background-color: #f5f7fa;
}
.contact-action-form-sidebar-nav p {
  color: #777777;
  font-size: 0.9em;
  margin: 0;
}
.contact-action-form-sidebar-nav div {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
.delete-contact-action-btn {
  background-color: #ef233c;
  border: 1px solid #ef233c;
  border-radius: 4px;
  padding: 10px 30px;
  font-size: 1em;
  cursor: pointer;
  color: #ffffff;
  transition: border-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}
.delete-contact-action-btn:hover {
  background-color: #d90429;
  border-color: #d90429;
}

/* Dropdowns */

.contacts-sort-dropdown {
  display: flex;
  position: absolute;
  background-color: #ffffff;
  z-index: 1;
  border: 1px solid #ffffff;
  width: 155px;
  border-radius: 3px;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  font-size: 0.9em;
  margin-top: 10px;
}
.contacts-sort-dropdown span {
  color: #777777;
  transition: color 0.1s ease-in-out;
  cursor: pointer;
  padding: 6px 5px;
}
.contacts-sort-dropdown span:hover {
  color: #555555;
}
.more-contact-dropdown {
  display: flex;
  position: absolute;
  background-color: #ffffff;
  z-index: 1;
  border: 1px solid #ffffff;
  width: 145px;
  border-radius: 3px;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  font-size: 0.9em;
  margin-top: 10px;
  right: 40px;
}
.more-contact-dropdown span {
  color: #777777;
  transition: color 0.1s ease-in-out;
  cursor: pointer;
  padding: 6px 5px;
}
.more-contact-dropdown span:hover {
  color: #555555;
}

/* List view */

.contacts-table {
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  border-collapse: collapse;
}
.contacts-main-container-body-contacts-lv {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
}
.contacts-table th, .contacts-table td {
  text-align: left;
  padding: 12px 15px;
}
.contacts-table .type-th {
  text-align: center;
}
.contacts-table .contact-type {
  font-size: 0.9em;
  cursor: pointer;
  text-align: center;
}
.contacts-table .contact-type.not-provided {
  background-color: #f5f7fa;
  color: #888888;
}
.contacts-table .contact-type.customer {
  background-color: rgba(58, 134, 255, 0.1);
  color: rgb(58,134,255);
}
.contacts-table .contact-type.prospect {
  background-color: rgba(165, 113, 238, 0.1);
  color: rgb(165, 113, 238);
}
.contacts-table .more-contact-btn {
  border: none;
  background-color: transparent;
  text-align: center;
  color: #777777;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}
.contacts-table .more-contact-btn:hover {
  color: #555555;
}
.contacts-table th {
  font-size: 0.9em;
  color: #777777;
  font-weight: 500;
}
.contacts-table .name-td {
  color: #2962FF;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}
.contacts-table .name-td:hover {
  color: #0a4afa;
}
.contacts-table .select-td, .contacts-table .select-th {
  text-align: center;
}
.contact-select-btn {
  border: none;
  background-color: transparent;
  font-size: 1em;
  color: #ef233c;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}
.contact-select-btn:hover {
  color: #d90429;
}
.contacts-table td {
  font-size: 0.9em;
  color: #000000;
}
.contacts-table tr {
  border: 1px solid #eeeeee;
}
.contacts-table tr:nth-child(even) {
  background-color: #fafafa;
}

/* Contact action type menu (.contact-type-action-menu) */

.contacts-action-type-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.contacts-action-type-menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.contacts-action-type-menu-content {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 40px 50px;
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.15);
}
.contacts-action-type-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.contacts-action-type-menu h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}
.contact-action-type-menu-form-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}
.contact-action-type-menu-form-content fieldset {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.contact-action-type-menu-form-content fieldset select {
  border: 1px solid #eeeeee;
  border-radius: 4px;
  padding: 10px;
  font-size: 0.9em;
  height: 45px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}
.contact-action-type-menu-form-content fieldset select:focus {
  outline: none;
  border-color: #FF9e67;
}
.contact-action-type-menu-form-content fieldset label {
  font-size: 0.9em;
  color: #777777;
  margin: 0 0 4px 0;
}
.contact-action-type-menu-form .red {
  color: #ff0800;
}
.contact-action-type-menu-form {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* File Upload Styling */

.contact-action-sidebar-form #contactPhoto {
  width: 270px;
}

/* Form alerts */

form .alert {
  color: #d90429;
  font-size: 0.7em;
  margin-top: 2px;
}

/* New form nav with high priority checkbox */

.contact-action-form-nav-prev {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-action-form-nav-prev fieldset {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}
.contact-action-form-nav-prev fieldset label {
  font-size: 0.9em;
  color: #777777;
  margin: 0;
}