<div class="contact-details-pop-up" id="contact-details-pop-up">
    <div class="details-contact-pop-up-container">
        <div class="details-contact-form">
            <div class="details-contact-pop-up-row contact-details-nav">
                <div>
                    <fa-icon class="return-to-contacts-btn" [icon]="faArrowLeft" (click)="closeContactDetailsPopUp()"></fa-icon>
                    <h1>Contact details</h1>
                </div>
                <div class="edit-contact-pop-up-btn" (click)="toggleContactsEditMode()">
                    <fa-icon [icon]="faEdit"></fa-icon>
                    <span>Edit contact</span>
                </div>
            </div>
            <div class="details-contact-pop-up-row">
            <form>
                <div>
                    <img [src]="DefaultPFP" alt="Default profile picture image">
                    <div class="contact-details-content">
                        <input type="text" id="contactName" name="contactName" required  maxlength="50" [(ngModel)]="full_name" [disabled]="!contactsEditMode" required>
                        <input [disabled]="!contactsEditMode" type="text" id="contactCompany" name="contactCompany" required  maxlength="50" [(ngModel)]="company" required>
                        <input [disabled]="!contactsEditMode" type="tel" id="contactPhoneNumber" name="contactPhoneNumber" required  pattern="[0-9]{10,11}" [(ngModel)]="phone_number" required>
                        <input [disabled]="!contactsEditMode" type="text" id="contactEmail" name="contactEmail" required maxlength="50" [(ngModel)]="email" required>
                    </div>
                </div>
                <hr />
                <h2 class="contact-details-h2">Description</h2>
                <textarea [disabled]="!contactsEditMode" name="text" id="contactDescription" name="contactDescription" maxlength="255" [(ngModel)]="description"></textarea>
                <div class="details-contact-pop-up-nav">
                <button *ngIf="contactsEditMode" type="button" id="cancelcontactBtn" (click)="closeContactDetailsPopUp()">Cancel</button>
                <button *ngIf="contactsEditMode" type="submit" id="createcontactBtn" (click)="updateContact()">Save</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
<div class="create-contact-pop-up" id="create-contact-pop-up">
    <div class="create-contact-pop-up-container">
      <div class="create-contact-form">
        <div class="create-contact-pop-up-row">
          <h1>Add a new contact</h1>
        </div>
        <div class="create-contact-pop-up-row">
          <form>
            <input type="text" id="contactName" name="contactName" required placeholder="Enter full name" maxlength="50" [(ngModel)]="full_name" required>
            <div>
                <input type="text" id="contactCompany" name="contactCompany" required placeholder="Enter company name" maxlength="50" [(ngModel)]="company" required>
                <input type="tel" id="contactPhoneNumber" name="contactPhoneNumber" required placeholder="Enter phone number" pattern="[0-9]{10,11}" [(ngModel)]="phone_number" required>
            </div>
            <input type="text" id="contactEmail" name="contactEmail" required placeholder="Enter email" maxlength="50" [(ngModel)]="email" required>
            <textarea name="text" id="contactDescription" name="contactDescription" placeholder="Enter description (optional)" maxlength="255" [(ngModel)]="description"></textarea>
            <div class="create-contact-pop-up-nav">
              <button type="button" id="cancelcontactBtn" (click)="closeNewContactPopup()">Cancel</button>
              <button type="submit" id="createcontactBtn" (click)="createContact()">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<div class="contacts-container">
    <div class="contacts-header">
        <div class="contacts-item">
            <h1>Contacts</h1>
        </div>
        <div class="contacts-item">
            <button class="create-btn" (click)="openNewContactPopup()">New Contact</button>
            <button class="export-btn" (click)="downloadCSV()">
                <fa-icon [icon]="faDownload"></fa-icon>
                <span>Export as CSV</span>
            </button>
        </div>
    </div>
    <div class="contacts-body">
        <div class="contacts-body-row">
            <div class="contacts-body-item">
                <div class="contacts-filter" (click)="openFilterStatusDropdown()">
                    <span>{{ activeFilter }}</span>
                    <fa-icon [icon]="faChevronDown"></fa-icon>
                </div>
                <div class="filter-dropdown">
                    <span (click)="filterStatus('Name')">Name</span>
                    <span (click)="filterStatus('Company')">Company</span>
                    <span (click)="filterStatus('Creation Date')">Creation Date</span>
                </div>
            </div>
            <div class="contacts-body-item">
                <div class="contacts-search">
                    <fa-icon [icon]="faSearch"></fa-icon>
                    <input type="text" placeholder="Search..." id="contactsearchInput" [(ngModel)]="contactSearchInputValue" (input)="onInputChange($event)">
                </div>
            </div>  
        </div>
        <div class="contacts-body-row" *ngIf="CONTACT && CONTACT.length > 0">
            <div class="contacts">
                <div class="contact-card" *ngFor="let contact of CONTACT">
                    <div class="contact-card-container">
                        <div class="contact-card-container-item contact-card-header">
                            <div class="contact-card-container-column">
                                <div (click)="openContactDetailsPopUp(contact)">
                                    <img [src]="DefaultPFP" alt="Default profile picture image" class="contact-pfp">
                                </div>
                                <div (click)="openContactDetailsPopUp(contact)">
                                    <h3>{{ contact.first_name }} {{ contact.last_name }}</h3>
                                    <p>{{ contact.company }}</p>
                                </div>
                            </div> 
                            <div class="contact-card-container-column contact-card-editor-area">
                                <fa-icon class="contact-card-sub-editor" [icon]="faEllipsisV" (click)="toggleContactCardDropdown(contact)"></fa-icon>
                                <div class="contact-card-dropdown" *ngIf="contact.showSubSetting">
                                    <ul>
                                        <li (click)="openContactDetailsPopUp(contact)">
                                            <fa-icon [icon]="faEye"></fa-icon>
                                            <span>View</span>
                                        </li>
                                        <li (click)="openContactDetailsPopUp(contact)" (click)="toggleContactsEditMode()">
                                            <fa-icon [icon]="faEdit"></fa-icon>
                                            <span>Edit</span>
                                        </li>  
                                        <li (click)="deleteContact(contact)">
                                            <fa-icon [icon]="faTrash"></fa-icon>
                                            <span>Delete</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="contact-card-container-item">
                            <div class="contact-card-container-row">
                                <fa-icon [icon]="faPhone"></fa-icon>
                                <span>{{ contact.phone_number || "Unknown" }}</span>
                            </div>
                            <div class="contact-card-container-row">
                                <fa-icon [icon]="faEnvelope"></fa-icon>
                                <span>{{ contact.email.toLowerCase() }}</span>
                            </div>
                            <div class="contact-card-container-row">
                                <span class="contact-creation-date">Created {{ contact.creation_date | date: 'longDate' }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="no-contacts" *ngIf="CONTACT && CONTACT.length === 0 && !loading">
        <img [src]="ShapesBanner" alt="A triangle, a square, a circle, and a trapezoid.">
        <p class="uh-oh">Uh oh! We couldn't find any existing contacts.</p>
        <p>Start a new contact by clicking <span (click)="openNewContactPopup()">here</span>, or by clicking the 'New contact' button at the top of your screen.</p>
    </div>
    <div class="loading" *ngIf="loading">
        <p>Loading...</p>
    </div>
</div>