<div class="account-details-pop-up" id="account-details-pop-up">
    <div class="details-account-pop-up-container">
        <div class="details-account-form">
            <div class="details-account-pop-up-row account-details-nav">
                <div>
                    <fa-icon class="return-to-accounts-btn" [icon]="faArrowLeft" (click)="closeAccountDetailsPopUp()"></fa-icon>
                    <h1>Account details</h1>
                </div>
                <div class="edit-account-pop-up-btn" (click)="toggleAccountsEditMode()">
                    <fa-icon [icon]="faEdit"></fa-icon>
                    <span>Edit account</span>
                </div>
            </div>
            <div class="details-account-pop-up-row">
            <form>
                <div>
                    <img [src]="DefaultPFP" alt="Default profile picture image">
                    <div class="account-details-pre-content">
                        <input type="text" id="accountName" name="accountName" required  maxlength="50" [(ngModel)]="account_name" [disabled]="!accountsEditMode" required>
                        <div class="account-details-content">
                            <input [disabled]="!accountsEditMode" type="tel" id="accountPhoneNumber" name="accountPhoneNumber" required  pattern="[0-9]{10,11}" [(ngModel)]="phone_number" required>
                            <input [disabled]="!accountsEditMode" type="text" id="accountEmail" name="accountEmail" required maxlength="50" [(ngModel)]="email" required>
                            <select [(ngModel)]="type_id" name="status" [disabled]="!accountsEditMode" required>
                                <option [ngValue]="undefined" selected disabled>Select type</option>
                                <option value="1">Customer</option>
                                <option value="2">Prospect</option>
                            </select>
                            <input [disabled]="!accountsEditMode" type="text" id="accountSource" name="accountSource" required maxlength="50" [(ngModel)]="source">
                        </div>
                    </div>
                </div>
                <hr />
                <h2 class="account-details-h2">Description</h2>
                <textarea [disabled]="!accountsEditMode" name="text" id="accountDescription" name="accountDescription" maxlength="255" [(ngModel)]="description"></textarea>
                <div class="details-account-pop-up-nav">
                <button *ngIf="accountsEditMode" type="button" id="cancelaccountBtn" (click)="closeAccountDetailsPopUp()">Cancel</button>
                <button *ngIf="accountsEditMode" type="submit" id="createaccountBtn" (click)="updateAccount()">Save</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
<div class="create-account-pop-up" id="create-account-pop-up">
    <div class="create-account-pop-up-container">
      <div class="create-account-form">
        <div class="create-account-pop-up-row">
          <h1>Add a new account</h1>
        </div>
        <div class="create-account-pop-up-row">
          <form>
            <input type="text" id="accountName" name="accountName" required placeholder="Enter account name" maxlength="50" [(ngModel)]="account_name" required>
            <div>
                <input type="tel" id="accountPhoneNumber" name="accountPhoneNumber" required placeholder="Enter phone number" pattern="[0-9]{10,11}" [(ngModel)]="phone_number" required>
                <input type="text" id="accountEmail" name="accountEmail" required placeholder="Enter email" maxlength="50" [(ngModel)]="email" required>
            </div>
            <div>
                <select [(ngModel)]="type_id" name="status" required>
                    <option [ngValue]="undefined" selected disabled>Select type</option>
                    <option value="1">Customer</option>
                    <option value="2">Prospect</option>
                </select>
                <input type="text" id="accountSource" name="accountSource" required placeholder="Enter source (optional)" maxlength="50" [(ngModel)]="source">
            </div>
            <textarea name="text" id="accountDescription" name="accountDescription" placeholder="Enter description (optional)" maxlength="255" [(ngModel)]="description"></textarea>
            <div class="create-account-pop-up-nav">
              <button type="button" id="cancelaccountBtn" (click)="closeNewAccountPopup()">Cancel</button>
              <button type="submit" id="createaccountBtn" (click)="createAccount()">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<div class="accounts-container">
    <div class="accounts-header">
        <div class="accounts-item">
            <h1>Accounts</h1>
        </div>
        <div class="accounts-item">
            <button class="create-btn" (click)="openNewAccountPopup()">New Account</button>
            <button class="export-btn" (click)="downloadCSV()">
                <fa-icon [icon]="faDownload"></fa-icon>
                <span>Export as CSV</span>
            </button> 
        </div>
    </div>
    <div class="accounts-body">
        <div class="accounts-body-row">
            <div class="accounts-body-item">
                <div class="accounts-filter" (click)="openFilterStatusDropdown()">
                    <span>{{ activeTypeFilter }}</span>
                    <fa-icon [icon]="faChevronDown"></fa-icon>
                </div>
                <div class="filter-dropdown">
                    <span (click)="filterStatus(1)">Customer</span>
                    <span (click)="filterStatus(2)">Prospect</span>
                </div>
            </div>
            <div class="accounts-body-item">
                <div class="accounts-search">
                    <fa-icon [icon]="faSearch"></fa-icon>
                    <input type="text" placeholder="Search..." id="accountsearchInput" [(ngModel)]="accountSearchInputValue" (input)="onInputChange($event)">
                </div>
            </div>  
        </div>
        <div class="accounts-body-row" *ngIf="ACCOUNT && ACCOUNT.length > 0">
            <div class="accounts">
                <div class="account-card" *ngFor="let account of ACCOUNT">
                    <div class="account-card-container">
                        <div class="account-card-container-item account-card-header">
                            <div class="account-card-container-column">
                                <div (click)="openAccountDetailsPopUp(account)">
                                    <img [src]="DefaultPFP" alt="Default profile picture image" class="account-pfp">
                                </div>
                                <div (click)="openAccountDetailsPopUp(account)">
                                    <h3>{{ account.account_name }}</h3>
                                </div>
                            </div> 
                            <div class="account-card-container-column account-card-editor-area">
                                <fa-icon class="account-card-sub-editor" [icon]="faEllipsisV" (click)="toggleAccountCardDropdown(account)"></fa-icon>
                                <div class="account-card-dropdown" *ngIf="account.showSubSetting">
                                    <ul>
                                        <li (click)="openAccountDetailsPopUp(account)">
                                            <fa-icon [icon]="faEye"></fa-icon>
                                            <span>View</span>
                                        </li>
                                        <li (click)="openAccountDetailsPopUp(account)" (click)="toggleAccountsEditMode()">
                                            <fa-icon [icon]="faEdit"></fa-icon>
                                            <span>Edit</span>
                                        </li>  
                                        <li (click)="deleteAccount(account)">
                                            <fa-icon [icon]="faTrash"></fa-icon>
                                            <span>Delete</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="account-card-container-item">
                            <div class="account-card-container-row">
                                <fa-icon [icon]="faPhone"></fa-icon>
                                <span>{{ account.phone_number || "Unknown" }}</span>
                            </div>
                            <div class="account-card-container-row">
                                <fa-icon [icon]="faEnvelope"></fa-icon>
                                <span>{{ account.email.toLowerCase() }}</span>
                            </div>
                            <div class="account-card-container-row">
                                <span [ngClass]="getTypeClasses(account.type_id.toString())">{{ getType(account.type_id.toString()) }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="no-accounts" *ngIf="ACCOUNT && ACCOUNT.length === 0 && !loading">
        <img [src]="ShapesBanner" alt="A triangle, a square, a circle, and a trapezoid.">
        <p class="uh-oh">Uh oh! We couldn't find any existing accounts.</p>
        <p>Start a new account by clicking <span (click)="openNewAccountPopup()">here</span>, or by clicking the 'New Account' button at the top of your screen.</p>
    </div>
    <div id="loading" *ngIf="loading">
        <app-loading></app-loading>
    </div>
</div>