<div class="files-main-container">
    <div class="files-main-container-header">
        <div class="files-main-container-item">
            <h1>Files</h1>
        </div>
        <div class="files-main-container-header-nav">
            <div>
                <button class="create-file-btn" (click)="fileInput.click()">Upload File</button>
                <input type="file" #fileInput style="display: none;" (change)="importFile($event)">
            </div>
            <div>
                <button class="create-folder-btn" (click)="folder_action_container = true">New Folder</button>
            </div>
            <div>
                <button class="more-file-btn" (click)="more_info_dropdown = !more_info_dropdown">
                    <fa-icon [icon]="faEllipsisV"></fa-icon>
                </button>
                <div class="more-file-dropdown" *ngIf="more_info_dropdown">
                    <span (click)="fileInput.click()">Import Files</span>
                    <input type="file" #fileInput style="display: none;" (change)="importFile($event)">
                    <span (click)="exportAllFiles()">Export Files</span>
                </div>
            </div>
        </div>
    </div>
    <div class="files-main-container-body">
        <div class="files-main-container-body-filtering">
            <div class="files-main-container-body-filtering-container">
                <div class="files-search">
                    <fa-icon [icon]="faSearch"></fa-icon>
                    <input (input)="onInputChange($event)" type="text" placeholder="Search for files..." id="fileSearchInput">
                </div>
                <div class="files-filters">
                    <div class="files-owners">
                        <button class="files-owner-btn">
                            <fa-icon [icon]="faUserAlt"></fa-icon>
                            <span>All Employees</span>
                            <fa-icon [icon]="faChevronDown"></fa-icon>
                        </button>
                    </div>
                    <div class="files-sort">
                        <button class="files-sort-btn" (click)="sort_by_dropdown = !sort_by_dropdown">
                            <fa-icon [icon]="faSort"></fa-icon>
                            <span>{{active_sort_factor}}</span>
                            <fa-icon [icon]="faChevronDown"></fa-icon>
                        </button>
                        <div class="files-sort-dropdown" *ngIf="sort_by_dropdown">
                            <span (click)="sortFiles('name')">By File Name</span>
                            <span (click)="sortFiles('type')">By File Type</span>
                            <span (click)="sortFiles('size')">By File Size</span>
                            <span (click)="sortFiles('created_at')">By Date Created</span>
                        </div>
                    </div>
                    <div class="files-view">
                        <button class="files-card-view-btn" (click)="toggleCardView()">
                            <fa-icon [icon]="faTableCells"></fa-icon>
                        </button>
                        <button class="files-list-view-btn" (click)="toggleListView()">
                            <fa-icon [icon]="faBars"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="files-main-container-body-files-cv" *ngIf="card_view">
            <div class="folder-card" *ngFor="let folder of filteredFolders">
                <div class="folder-card-container">
                    <div class="folder-card-header">
                        <div class="folder-card-header-content">
                            <fa-icon [icon]="faFolder" class="folder-icon"></fa-icon>
                            <h3>{{folder.name | slice:0:25}}{{folder.name.length > 25 ? '...' : ''}}</h3>
                            <p>{{folder.created_at | date: 'longDate'}}</p>
                        </div>
                    </div>
                    <div class="folder-card-footer">
                        <img [src]="DefaultPFP" alt="Profile Picture" class="folder-card-footer-img">
                        <fa-icon [icon]="faArrowRightToBracket" (click)="openFoldersActionSidebar(folder)"></fa-icon>
                    </div>
                </div>
            </div>
            <div class="file-card" *ngFor="let file of filteredFiles">
                <div class="file-card-container">
                    <div class="file-card-header">
                        <div class="file-card-header-content">
                            <fa-icon *ngIf="file.resource_type == 'raw'" [icon]="faFileLines" class="file-icon"></fa-icon>
                            <fa-icon *ngIf="file.resource_type == 'image'" [icon]="faFileImage" class="image-icon"></fa-icon>
                            <fa-icon *ngIf="file.resource_type == 'video'" [icon]="faFileVideo" class="video-icon"></fa-icon>
                            <fa-icon *ngIf="file.resource_type != 'raw' && file.resource_type != 'image' && file.resource_type != 'video'" [icon]="faFile" class="unknown-file-icon"></fa-icon>
                            <h3>{{file.name | slice:0:25}}{{file.name.length > 25 ? '...' : ''}}</h3>
                            <p>{{file.created_at | date: 'longDate'}}</p>
                        </div>
                    </div>
                    <div class="file-card-footer">
                        <img [src]="DefaultPFP" alt="Profile Picture" class="file-card-footer-img">
                        <fa-icon [icon]="faArrowRightToBracket" (click)="openFilesActionSidebar(file)"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="files-main-container-body-files-lv" *ngIf="list_view && (filteredFiles.length > 0 || filteredFolders.length > 0)">
            <table class="files-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Date Created</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Size</th>
                        <th>Owner</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let folder of filteredFolders">
                        <td class="select-td">
                            <button class="file-select-btn">
                                <fa-icon [icon]="faTrash"></fa-icon>
                            </button>
                        </td>
                        <td>{{folder.created_at | date: 'longDate'}}</td>
                        <td class="name-td" (click)="openFoldersActionSidebar(folder)">{{folder.name}}</td>
                        <td>Folder</td>
                        <td>{{getFolderSize(folder.folder_id) || "-"}}</td>
                        <td>N/A</td>
                        <td class="more-file-btn">
                            <fa-icon [icon]="faArrowRightToBracket" (click)="openFoldersActionSidebar(folder)"></fa-icon>
                        </td>
                    </tr>
                    <tr *ngFor="let file of filteredFiles">
                        <td class="select-td">
                            <button class="file-select-btn">
                                <fa-icon [icon]="faTrash"></fa-icon>
                            </button>
                        </td>
                        <td>{{file.created_at | date: 'longDate'}}</td>
                        <td class="name-td" (click)="openFilesActionSidebar(file)">{{file.name}}</td>
                        <td *ngIf="file.resource_type == 'raw'">Doc</td>
                        <td *ngIf="file.resource_type == 'image'">Image</td>
                        <td *ngIf="file.resource_type == 'video'">Video</td>
                        <td *ngIf="file.resource_type != 'raw' && file.resource_type != 'image' && file.resource_type != 'video'">N/A</td>
                        <td>{{convertFileSize(file.size) || "N/A"}}</td>
                        <td>N/A</td>
                        <td class="more-file-btn">
                            <fa-icon [icon]="faArrowRightToBracket" (click)="openFilesActionSidebar(file)"></fa-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="filteredFiles && filteredFiles.length === 0 && !loading">
        <app-no-data></app-no-data>
    </div>
    <div id="loading" *ngIf="loading">
        <app-loading></app-loading>
    </div>
</div>
<div class="files-action-sidebar" *ngIf="files_action_sidebar_container">
    <div class="files-action-sidebar-container">
        <div class="files-action-sidebar-content">
            <div class="files-action-sidebar-content-container">
                <div class="file-action-sidebar-row files-action-sidebar-header">
                    <div>
                        <button class="close-file-action-btn-1 close-file-sidebar-btn" (click)="onReset()">
                            <fa-icon [icon]="faArrowLeft"></fa-icon>
                        </button>
                        <h1>File info</h1>
                    </div>
                    <div>
                        <button class="file-download-btn" (click)="downloadFile(file_url, name)">
                            <span>Download</span>
                            <fa-icon [icon]="faDownload"></fa-icon>
                        </button>
                        <button class="edit-file-action-btn" (click)="file_edit_mode = !file_edit_mode">
                            Edit File
                        </button>
                    </div>
                </div>
                <div class="file-action-sidebar-row">
                    <form class="file-action-sidebar-form" #fileActionForm="ngForm">
                        <fieldset>
                            <label for="fileName">File Name<span class="red">*</span></label>
                            <input [disabled]="!file_edit_mode" type="text" id="fileName" name="fileName" [placeholder]="file_edit_mode ? 'Enter file name' : ''" maxlength="255" [(ngModel)]="name" #fileName="ngModel" required>
                            <div *ngIf="fileName.invalid && (fileName.dirty || fileName.touched)" class="alert">
                                <div *ngIf="fileName.errors && fileName.errors['required']">
                                    File name is required.
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <label for="fileDescription">Description</label>
                            <textarea [disabled]="!file_edit_mode" id="fileDescription" name="fileDescription" [placeholder]="file_edit_mode ? 'Enter file description' : ''" maxlength="255" [(ngModel)]="description"></textarea>
                        </fieldset>
                        <hr />
                        <div class="file-action-sidebar-form-content">
                            <fieldset>
                                <label for="fileOwner">File Owner<span class="red">*</span></label>
                                <select disabled name="fileOwner" id="fileOwner">
                                    <option value="">--Coming Soon--</option>
                                </select>
                            </fieldset>
                            <fieldset>
                                <label for="fileFolder">Folder</label>
                                <select [disabled]="!file_edit_mode" name="fileFolder" id="fileFolder" [(ngModel)]="folder_id">
                                    <option [ngValue]="null" selected>--No Folder--</option>
                                    <option *ngFor="let folder of allFolders" value="{{folder.folder_id}}">{{folder.name}}</option>
                                </select>
                            </fieldset>
                            <fieldset>
                                <label for="fileCreationDate">Date Created</label>
                                <input [disabled]="true" type="text" id="fileCreationDate" name="fileCreationDate" [placeholder]="created_at" [value]="created_at | date: 'longDate'">
                            </fieldset>
                            <fieldset>
                                <label for="fileSize">File Size</label>
                                <input [disabled]="true" type="text" id="fileSize" name="fileSize" [placeholder]="convertFileSize(size)" [value]="convertFileSize(size)">
                            </fieldset>
                        </div>
                        <div class="file-action-form-sidebar-nav" [style.display]="file_edit_mode == false ? 'none' : 'flex'">
                            <div>
                                <button class="delete-file-action-btn" (click)="deleteFile()">
                                    Delete File
                                </button>
                            </div>
                            <div>
                                <button class="close-file-action-btn-2" (click)="onReset()">Cancel</button>
                                <button type="submit" class="save-file-action-btn" [disabled]="fileActionForm.invalid" (click)="updateFile()">Save</button>
                            </div>
                        </div>
                    </form>
                    <!-- Room for comments/notes to be added in future updates -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="folders-action-sidebar" *ngIf="folders_action_sidebar_container">
    <div class="folders-action-sidebar-container">
        <div class="folders-action-sidebar-content">
            <div class="folders-action-sidebar-content-container">
                <div class="folder-action-sidebar-row folders-action-sidebar-header">
                    <div>
                        <button class="close-folder-action-btn-1 close-folder-sidebar-btn" (click)="onReset()">
                            <fa-icon [icon]="faArrowLeft"></fa-icon>
                        </button>
                        <h1>Folder info</h1>
                    </div>
                    <div>
                        <button class="folder-download-btn" (click)="downloadFile(file_url, name)">
                            <span>Download</span>
                            <fa-icon [icon]="faDownload"></fa-icon>
                        </button>
                        <button class="edit-folder-action-btn" (click)="folder_edit_mode = !folder_edit_mode">
                            Edit Folder
                        </button>
                    </div>
                </div>
                <div class="folder-action-sidebar-row">
                    <form class="folder-action-sidebar-form" #folderActionForm="ngForm">
                        <fieldset>
                            <label for="folderName">Folder Name<span class="red">*</span></label>
                            <input [disabled]="!folder_edit_mode" type="text" id="folderName" name="folderName" [placeholder]="folder_edit_mode ? 'Enter folder name' : ''" maxlength="255" [(ngModel)]="name" #folderName="ngModel" required>
                            <div *ngIf="folderName.invalid && (folderName.dirty || folderName.touched)" class="alert">
                                <div *ngIf="folderName.errors && folderName.errors['required']">
                                    Folder name is required.
                                </div>
                            </div>
                        </fieldset>
                        <div class="folder-action-sidebar-form-content">
                            <fieldset>
                                <label for="folderOwner">Folder Owner<span class="red">*</span></label>
                                <select disabled name="folderOwner" id="folderOwner">
                                    <option value="">--Coming Soon--</option>
                                </select>
                            </fieldset>
                            <fieldset>
                                <label for="folderParentFolder">Parent Folder</label>
                                <select [disabled]="!folder_edit_mode" name="folderParentFolder" id="folderParentFolder" [(ngModel)]="parent_folder_id">
                                    <option [ngValue]="null" selected>--No Parent Folder--</option>
                                    <option *ngFor="let folder of parentFolders" value="{{folder.folder_id}}">{{folder.name}}</option>
                                </select>
                            </fieldset>
                            <fieldset>
                                <label for="folderCreationDate">Date Created</label>
                                <input [disabled]="true" type="text" id="folderCreationDate" name="folderCreationDate" [placeholder]="created_at" [value]="created_at | date: 'longDate'">
                            </fieldset>
                            <fieldset>
                                <label for="folderSize">Folder Size</label>
                                <input [disabled]="true" type="text" id="folderSize" name="folderSize" [placeholder]="getFolderSize(folder_id)" [value]="getFolderSize(folder_id)">
                            </fieldset>
                        </div>
                        <div class="folder-action-form-sidebar-nav" [style.display]="folder_edit_mode == false ? 'none' : 'flex'">
                            <div>
                                <button class="delete-folder-action-btn" (click)="deleteFolder()">
                                    Delete Folder
                                </button>
                            </div>
                            <div>
                                <button class="close-folder-action-btn-2" (click)="onReset()">Cancel</button>
                                <button type="submit" class="save-folder-action-btn" [disabled]="folderActionForm.invalid" (click)="updateFolder()">Save</button>
                            </div>
                        </div>
                    </form>
                    <!-- Room for comments/notes to be added in future updates -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="folder-action" *ngIf="folder_action_container">
    <div class="folder-action-container">
        <div class="folder-action-content">
            <div class="folder-action-row folder-action-header">
                <div>
                    <h1>Create new folder</h1>
                </div>
                <div>
                    <button class="close-folder-action-btn-1" (click)="folder_action_container = false">
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </button>
                </div>
            </div>
            <div class="folder-action-row">
                <div>
                    <h2>Folder information</h2>
                    <p>Enter the information for your newly generated folder.</p>
                </div>
                <div class="folder-action-info">
                    <form class="folder-action-form" #folderForm="ngForm" (ngSubmit)="createFolder()">
                        <div class="folder-action-form-content">
                            <fieldset>
                                <label for="folderOwner">Folder owner<span class="red">*</span></label>
                                <select disabled name="folderOwner" id="folderOwner">
                                    <option value="">{{username}}</option>
                                </select>
                            </fieldset>
                            <fieldset>
                                <label for="folderName">Folder name<span class="red">*</span></label>
                                <input type="text" id="folderName" name="folderName" placeholder="Enter folder name" minlength="1" maxlength="50" [(ngModel)]="name" required #folderName="ngModel">
                                <div *ngIf="folderName.invalid && (folderName.dirty || folderName.touched)" class="alert">
                                    <div *ngIf="folderName.errors && folderName.errors['required']">
                                        Folder name is required.
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="folder-action-form-nav">
                            <button class="close-folder-action-btn-2" (click)="folder_action_container = false">Cancel</button>
                            <button class="save-folder-action-btn" [disabled]="folderForm.invalid" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>