.no-data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}
.no-data-container h1 {
    font-size: 1.5em;
    margin: 0;
    text-align: center;
}
.no-data-container p {
    font-size: 1em;
    text-align: center;
}
.no-data-container img {
    height: 100px;
    width: auto;
}