/* Global Workspace */

.workspace-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .workspace-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .workspace-template:last-child {
    display: none;
  }
}
@media screen and (max-width: 980px) {
  .workspace-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .workspace-template:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 615px) {
  .workspace-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Dashboard Masthead */

.dashboard-masthead {
  background-color: #eeeeee;
}
.dashboard-masthead h1 {
  font-size: 1.2em;
}
.dashboard-masthead-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.dashboard-masthead .workspace-container:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transform: translateY(-3px);
  border: 1px solid #878787;
}
.dashboard-masthead-container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.templates-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-decoration: none;
  color: #000000;
  margin: 0;
  transition: transform 0.3s ease-in-out;
}
.templates-btn:hover {
  transform: translateY(-3px);
}
.workspace-template {
  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid #c7c7c7;
  transition: transform 0.3s ease-in-out;
}
.workspace-template a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  color: #000000;
  text-decoration: none;
}
.workspace-template a div:last-child {
  padding: 15px 25px;
}
.workspace-template h2 {
  font-size: 1.2em;
  margin: 0;
}
.workspace-template p {
  font-size: 0.9em;
}
.workspace-template img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: top left;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 1px solid #eeeeee;
}

/* Dashboard Shelf */

.dashboard-shelf h1, .dashboard-shelf select, .dashboard-shelf label {
  font-size: 1.2em;
}
.dashboard-shelf-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.dashboard-shelf-container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.dashboard-shelf fieldset {
  border: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin: 0;
  padding: 0;
}
.dashboard-shelf label {
  font-weight: 600;
}
.dashboard-shelf select {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}
.workspace-active {
  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid #c7c7c7;
  transition: transform 0.3s ease-in-out;
}
.workspace-active a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  color: #000000;
  text-decoration: none;
}
.workspace-active-details {
  padding: 15px 25px;
}
.workspace-active h2 {
  font-size: 1.2em;
  margin: 0;
}
.workspace-active p {
  font-size: 0.9em;
}
.workspace-preview {
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: top left;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 1px solid #eeeeee;
}
.workspace-logo {
  width: 20px;
  height: auto;
}
.workspace-active-sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.workspace-active-sub div {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
.dashboard-shelf .workspace-container:hover {
  border: 1px solid #878787;
}