<header>
  <div class="header-container">
    <div class="header-column non-mobile-column">
      <div class="header-item">
        <button class="header-nav-btn" id="app-launcher-open-btn" (click)="openAppLauncher()">
          <img [src]="appLauncherIcon" alt="App launcher icon">
        </button>
      </div>
      <div class="header-item">
        <a href="/">
          <img class="header-logo" [src]="CeasarColouredLogo1" alt="Ceasar header logo">
        </a>
      </div>
    </div>
    <div class="header-column">
      <div class="header-search-bar">
        <form action="/search" method="get" id="searchForm">
          <div class="search-controls">
            <div class="header-search-inner">
              <button type="submit" id="searchButton" (click)="search($event)">
                <fa-icon [icon]="faSearch"></fa-icon>
              </button>
              <input type="text" name="q" placeholder="Search for any workspace..." id="searchInput" (input)="onInputChange()">
            </div>
            <div>
              <button type="button" id="clearButton" (click)="clearSearchInput()" [hidden]="!searchInputValue">
                <fa-icon [icon]="faTimes"></fa-icon>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="header-column header-icon-bar">
      <div>
        <button class="close-mobile-search" (click)="closeMobileSearch()">
          <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
      </div>
      <div class="non-mobile-column search-icon">
        <button class="header-nav-icon-btn" (click)="launchMobileSearch()">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
      </div>
      <div class="header-item non-mobile-column">
        <a class="header-nav-icon" href="/help-center">
          <fa-icon [icon]="faQuestion"></fa-icon>
        </a>
      </div>
      <div class="non-mobile-column">
        <a class="header-nav-icon" href="/settings">
          <fa-icon [icon]="faGear"></fa-icon>
        </a>
      </div>
      <div class="non-mobile-column">
        <button class="header-nav-icon-btn">
          <fa-icon [icon]="faBell"></fa-icon>
        </button>
      </div>
      <hr class="non-mobile-column">
      <div class="non-mobile-column" *ngIf="isWorkspacePath()">
        <div class="workspace-selector" (click)="openWorkspaceDropdown()">
          <p>{{ selectedWorkspace }}</p>
          <fa-icon [icon]="faChevronDown"></fa-icon>
        </div>
        <div class="mobile-home-btn">
          <a href="/">
            <fa-icon [icon]="faHome"></fa-icon>
          </a>
        </div>
        <div class="workspace-selector-dropdown">
          <ul>
            <li class="workspace-option" *ngFor="let workspace of WORKSPACE" (click)="redirectToSelectedWorkspace(workspace?.workspace_id)" (click)="closeWorkspaceDropdown()">
              <span>{{ workspace?.title || 'Untitled workspace' }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="non-mobile-column">
        <button class="header-nav-icon-btn">
          <fa-icon [icon]="faUser"></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="workspace-nav-header" *ngIf="isWorkspacePath()">
    <div class="workspace-nav-header-container">
      <div class="workspace-feature">
        Home
      </div>
      <div class="workspace-feature">
        Home
      </div>
    </div>
  </div>
  <div class="app-launcher inactive" id="app-launcher" (click)="closeAppLauncher()" [class.active]="isActive">
    <div class="app-launcher-container">
      <div class="app-launcher-top">
        <div class="app-launcher-header">
          <div>
            <button class="header-nav-btn" id="app-launcher-close-btn">
              <img [src]="appLauncherIcon" alt="App launcher icon">
            </button>
          </div>
          <div>
            <a href="https://www.cloud.frim.io" target="_blank">
              <span>Frim Cloud</span>
              <fa-icon [icon]="faArrowRight"></fa-icon>
            </a>
          </div>
        </div>
        <div class="app-launcher-apps">
          <div>
            <h1>Apps</h1>
          </div>
          <div class="apps">
            <div class="app">
              <a href="/">
                <img [src]="CeasarColouredLogo2" alt="Ceasar app icon">
                <p>Ceasar</p>
              </a>
            </div>
            <div class="app">
              <a href="#">
                <img [src]="CeasarColouredLogo2" alt="Ceasar app icon">
                <p>Ceasar</p>
              </a>
            </div>
            <div class="app">
              <a href="#">
                <img [src]="CeasarColouredLogo2" alt="Ceasar app icon">
                <p>Ceasar</p>
              </a>
            </div>
            <div class="app">
              <a href="#">
                <img [src]="CeasarColouredLogo2" alt="Ceasar app icon">
                <p>Ceasar</p>
              </a>
            </div>
          </div>
          <div>
            <a href="https://www.cloud.frim.io/apps" class="see-all-apps-btn">
              <span>See all apps</span>
              <fa-icon [icon]="faArrowRight"></fa-icon>
            </a>
          </div>
        </div>
        <hr class="app-launcher-divider">
        <div class="app-launcher-nav">
            <ul>
              <li>
                <a href="https://www.frim.io/help-center">
                  <fa-icon [icon]="faQuestion"></fa-icon>
                  <span>Help Center</span>
                </a>
              </li>
              <li>
                <a href="https://www.cloud.frim.io/settings/ceasar">
                  <fa-icon [icon]="faGear"></fa-icon>
                  <span>Settings</span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" (click)="logoutUser()">
                  <fa-icon [icon]="faRightFromBracket"></fa-icon>
                  <span>Logout</span>
                </a>
              </li>
            </ul>
        </div>
      </div>
      <div class="app-launcher-bottom">
        <div class="app-launcher-footer-legal">
          <p>Copyright © {{ currentYear }} Frim, Inc. All Rights Reserved.<br>
          Ceasar™ is a product developed and owned by Frim, Inc.</p>
        </div>
        <div class="app-launcher-footer-nav">
          <ul>
            <li>
              <a href="https://www.frim.io/privacy-policy">Privacy Policy</a>
            </li>
            <span class="bullet">&bull;</span>
            <li>
              <a href="https://www.frim.io/terms-of-use">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="overlay" (click)="closeAppLauncher()"></div>
</header>
