<header *ngIf="authService.user$ | async as user">
  <div class="header-container">
    <div class="header-column non-mobile-column">
      <div class="header-item">
        <button class="header-nav-btn" id="app-launcher-open-btn" (click)="openAppLauncher()">
          <img [src]="appLauncherIcon" alt="App launcher icon">
        </button>
      </div>
      <div class="header-item">
        <a href="/">
          <img class="header-logo" [src]="CeasarColouredLogo1" alt="Ceasar header logo">
        </a>
      </div>
    </div>
    <div class="header-column">
      <div class="header-search-bar">
        <form action="/search" method="get" id="searchForm">
          <div class="search-controls">
            <div class="header-search-inner">
              <button type="submit" id="searchButton" (click)="search($event)">
                <fa-icon [icon]="faSearch"></fa-icon>
              </button>
              <input type="text" name="q" placeholder="Search for any workspace..." id="searchInput" (input)="onInputChange()">
            </div>
            <div>
              <button type="button" id="clearButton" (click)="clearSearchInput()" [hidden]="!searchInputValue">
                <fa-icon [icon]="faTimes"></fa-icon>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="header-column header-icon-bar">
      <div>
        <button class="close-mobile-search" (click)="closeMobileSearch()">
          <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
      </div>
      <div class="non-mobile-column search-icon">
        <button class="header-nav-icon-btn" (click)="launchMobileSearch()">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
      </div>
      <div class="header-item non-mobile-column">
        <a class="header-nav-icon" href="https://www.frim.io/help-center" target="_blank">
          <fa-icon [icon]="faQuestion"></fa-icon>
        </a>
      </div>
      <div class="non-mobile-column">
        <a class="header-nav-icon" href="/settings">
          <fa-icon [icon]="faGear"></fa-icon>
        </a>
      </div>
      <div class="non-mobile-column">
        <button class="header-nav-icon-btn">
          <fa-icon [icon]="faBell"></fa-icon>
        </button>
      </div>
      <hr class="non-mobile-column">
      <div class="non-mobile-column" *ngIf="isWorkspacePath()">
        <div class="workspace-selector" (click)="openWorkspaceDropdown()">
          <p>{{ title?.toString() }}</p>
          <fa-icon [icon]="faChevronDown"></fa-icon>
        </div>
        <div class="mobile-home-btn">
          <a href="/">
            <fa-icon [icon]="faHome"></fa-icon>
          </a>
        </div>
        <div class="workspace-selector-dropdown">
          <ul>
            <li class="workspace-option" *ngFor="let workspace of WORKSPACE" (click)="redirectToSelectedWorkspace(workspace?.workspace_id)" (click)="closeWorkspaceDropdown()">
              <span>{{ workspace?.title || 'Untitled workspace' }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="non-mobile-column">
        <button class="header-nav-icon-btn">
          <fa-icon [icon]="faUser"></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="workspace-nav-header" *ngIf="isWorkspacePath()">
    <div class="workspace-nav-header-container">
      <div class="workspace-feature home-feature" (click)="this.featureService.setActiveFeature('home')" [class.active]="featureService.home">
        Home
      </div>
      <div class="workspace-feature leads-feature" *ngIf="this.has_leads" (click)="this.featureService.setActiveFeature('leads')" [class.active]="featureService.leads">
        Leads
      </div>
      <div class="workspace-feature accounts-feature" *ngIf="this.has_accounts" (click)="this.featureService.setActiveFeature('accounts')" [class.active]="featureService.accounts">
        Accounts
      </div>
      <div class="workspace-feature opportunities-feature" *ngIf="this.has_opportunities" (click)="this.featureService.setActiveFeature('opportunities')" [class.active]="featureService.opportunities">
        Opportunities
      </div>  
      <div class="workspace-feature contacts-feature" *ngIf="this.has_contacts" (click)="this.featureService.setActiveFeature('contacts')" [class.active]="featureService.contacts">
        Contacts
      </div>
      <div class="workspace-feature reports-feature" *ngIf="this.has_reports" (click)="this.featureService.setActiveFeature('reports')" [class.active]="featureService.reports">
        Reports
      </div>  
      <div class="workspace-feature files-feature" *ngIf="this.has_files" (click)="this.featureService.setActiveFeature('files')" [class.active]="featureService.files">
        Files
      </div>
      <div class="add-workspace-feature">
        <button class="add-workspace-feature-btn" (click)="workspace_setup = true">
          <fa-icon [icon]="faSliders"></fa-icon>
        </button>
      </div>
    </div>
    <!-- Workspace setup -->
    <div class="workspace-setup" *ngIf="workspace_setup">
      <div class="workspace-setup-container">
      <div class="workspace-setup-container-content">
        <div class="workspace-setup-row workspace-setup-header">
          <div>
            <h1>Workspace setup</h1>
          </div>
          <div>
            <button class="close-workspace-setup-btn-1" (click)="refreshWorkspace()">
              <fa-icon [icon]="faXmark"></fa-icon>
            </button>
          </div>
        </div>
        <div class="workspace-setup-row">
          <div>
            <h2>Workspace name</h2>
            <p>Rename your workspace.</p>
          </div>
          <div class="rename-workspace-section">
            <input type="text" name="workspaceName" placeholder="Enter workspace name" [(ngModel)]="title" [disabled]="!workspace_title_edit">
            <button class="edit-workspace-name-btn" (click)="toggleTitleWorkspaceEdit()">
              <fa-icon [icon]="faPen"></fa-icon>
            </button>
          </div>
        </div>
        <div class="workspace-setup-row">
          <div>
            <h2>Feature selection</h2>
            <p>You can add or remove features at any time. Any data will not be lost.</p>
          </div>
          <div class="workspace-setup-features">
            <div class="workspace-setup-feature">
              <input type="checkbox" id="feature1" name="feature1" value="leads" [(ngModel)]="has_leads">
              <label for="feature1">Leads</label>
            </div>
            <div class="workspace-setup-feature">
              <input type="checkbox" id="feature2" name="feature2" value="accounts" [(ngModel)]="has_accounts">
              <label for="feature2">Accounts</label>
            </div>
            <div class="workspace-setup-feature">
              <input type="checkbox" id="feature3" name="feature3" value="opportunities" [(ngModel)]="has_opportunities">
              <label for="feature3">Opportunities</label>
            </div>
            <div class="workspace-setup-feature">
              <input type="checkbox" id="feature4" name="feature4" value="contacts" [(ngModel)]="has_contacts">
              <label for="feature4">Contacts</label>
            </div>
            <div class="workspace-setup-feature">
              <input type="checkbox" id="feature5" name="feature5" value="files" [(ngModel)]="has_files">
              <label for="feature5">Files</label>
            </div>
            <div class="workspace-setup-feature">
              <input type="checkbox" id="feature6" name="feature6" value="reports" [(ngModel)]="has_reports">
              <label for="feature6">Reports</label>
            </div>
          </div>
          <div>
            <p><i>More features coming soon...</i></p>
          </div>
        </div>
        <div class="workspace-setup-row workspace-setup-nav">
          <button class="close-workspace-setup-btn-2" (click)="refreshWorkspace()">
            Cancel
          </button>
          <button class="save-workspace-setup-btn" (click)="updateWorkspace()">
            Apply
          </button>
        </div>
      </div>
      </div>
    </div>
    <!-- End of workspace setup -->
  </div>
  <div class="app-launcher inactive" id="app-launcher" (click)="closeAppLauncher()" [class.active]="isActive">
    <div class="app-launcher-container">
      <div class="app-launcher-top">
        <div class="app-launcher-header">
          <div>
            <button class="header-nav-btn" id="app-launcher-close-btn">
              <img [src]="appLauncherIcon" alt="App launcher icon">
            </button>
          </div>
          <div>
            <a href="https://www.cloud.frim.io" target="_blank">
              <span>Frim Cloud</span>
              <fa-icon [icon]="faArrowRight"></fa-icon>
            </a>
          </div>
        </div>
        <div class="app-launcher-apps">
          <div>
            <h1>Apps</h1>
          </div>
          <div class="apps">
            <div class="app">
              <a href="/">
                <img [src]="CeasarColouredLogo2" alt="Ceasar app icon">
                <p>Ceasar</p>
              </a>
            </div>
          </div>
          <div>
            <a href="https://www.cloud.frim.io/apps" class="see-all-apps-btn">
              <span>See all apps</span>
              <fa-icon [icon]="faArrowRight"></fa-icon>
            </a>
          </div>
        </div>
        <hr class="app-launcher-divider">
        <div class="app-launcher-nav">
            <ul>
              <li>
                <a href="https://www.frim.io/help-center">
                  <fa-icon [icon]="faQuestion"></fa-icon>
                  <span>Help Center</span>
                </a>
              </li>
              <li>
                <a href="https://www.cloud.frim.io/settings/ceasar">
                  <fa-icon [icon]="faGear"></fa-icon>
                  <span>Settings</span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" (click)="logoutUser()">
                  <fa-icon [icon]="faRightFromBracket"></fa-icon>
                  <span>Logout</span>
                </a>
              </li>
            </ul>
        </div>
      </div>
      <div class="app-launcher-bottom">
        <div class="app-launcher-footer-legal">
          <p>Copyright © {{ currentYear }} Frim, Inc. All Rights Reserved.<br>
          Ceasar™ is a product developed and owned by Frim, Inc.</p>
        </div>
        <div class="app-launcher-footer-nav">
          <ul>
            <li>
              <a href="https://www.frim.io/privacy-policy">Privacy Policy</a>
            </li>
            <span class="bullet">&bull;</span>
            <li>
              <a href="https://www.frim.io/terms-of-use">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="overlay" (click)="closeAppLauncher()"></div>
</header>
