/* Opportunities v2.0 */

/* Opportunities Main Container (.opportunities-main-container) */

.opportunities-main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 1%;
}
.opportunities-main-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.opportunities-main-container-header-nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.create-opportunity-btn {
  background-color: #FF9e67;
  border: 1px solid #FF9e67;
  border-radius: 3px;
  padding: 6px 12px;
  font-size: 1em;
  cursor: pointer;
  color: #ffffff;
  transition: border-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  height: 100%;
}
.create-opportunity-btn:hover {
  background-color: #FF8e57;
  border-color: #FF8e57;
}
.more-opportunity-btn {
  border: 1px solid #777777;
  border-radius: 3px;
  background-color: transparent;
  width: 40px; /* To make it a square */
  padding: 6px 12px;
  font-size: 1em;
  cursor: pointer;
  color: #777777;
  transition: border-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.more-opportunity-btn:hover {
  border-color: #000000;
  color: #000000;
}
.opportunities-main-container-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.opportunities-main-container-body-filtering-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
}
.opportunities-filters {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.opportunities-search {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
}
.opportunities-search input {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 1em;
}
.opportunities-search input:focus {
  outline: none;
}
.opportunities-filters button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 0.9em;
  color: #777777;
  white-space: nowrap;
  transition: color 0.1s ease-in-out;
}
.opportunities-filters button:hover {
  color: #555555;
}
.opportunities-view {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.opportunities-owners {
  border-right: 1px solid #777777;
  border-left: 1px solid #777777;
  padding: 0 15px;
}
.opportunities-sort {
  border-right: 1px solid #777777;
  padding-right: 15px;
}
.opportunities-main-container-body-categories {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  overflow-x: auto;
  white-space: nowrap;
}
.opportunities-main-container-body-categories .category {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  padding: 20px 25px;
  border-bottom: 2px solid transparent;
  color: #777777;
}
.opportunities-main-container-body-categories .category:hover {
  border-bottom: 2px solid #ff9f6784;
}
.opportunities-main-container-body-categories .category-number {
  background-color: transparent;
  color: #777777;
  border: 1px solid #777777;
  padding: 4px;
  border-radius: 50px;
  font-size: 0.8em;
  font-weight: 600;
}
.opportunities-main-container-body-categories .category.active, .opportunities-main-container-body-categories .category.active:hover {
  border-bottom: 2px solid #FF9e67;
  color: #000000;
}
.opportunities-main-container-body-categories .category.active .category-number {
  background-color: #FF9e67;
  color: #ffffff;
  border: 1px solid #ff9e67;
}
.opportunities-main-container-body-opportunities-cv {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}
.opportunity-card {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  overflow: hidden;
  height: auto;
  padding: 20px;
}
.opportunity-card-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.opportunity-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.opportunity-card-header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.opportunity-card-header-left p {
  color: #777777;
  font-size: 0.9em;
}
.opportunity-card-header h3, .opportunity-card-header p {
  margin: 0;
}
.opportunity-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.opportunity-card-header-right span {
  font-size: 0.8em;
  color: #777777;
}
.opportunity-card hr {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #f5f7fa;
}
.opportunity-card-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.opportunity-card-body div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.opportunity-card-body div span {
  color: #777777;
  font-size: 1em;
}
.opportunity-card-body div fa-icon {
  color: #777777;
}
.opportunity-card-footer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
}
.opportunity-card-footer .opportunity-status {
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 0.9em;
  cursor: pointer;
}
.opportunity-card-footer .opportunity-status.not-provided {
  background-color: #f5f7fa;
  color: #888888;
}
.opportunity-card-footer .opportunity-status.new {
  background-color: rgba(255, 158, 103, 0.1);
  color: rgb(255,158,103);
}
.opportunity-card-footer .opportunity-status.contacted {
  background-color: rgba(249,199,79, 0.1);
  color: rgb(249,199,79);
}
.opportunity-card-footer .opportunity-status.qualified {
  background-color: rgba(144,190,109, 0.1);
  color: rgb(144,190,109);
}
.opportunity-card-footer .opportunity-status.closed-won, .opportunity-card-footer .opportunity-status.closed-lost {
  background-color: rgba(249,65,68, 0.1);
  color: rgb(249,65,68);
}
.opportunity-card-footer fa-icon {
  color: #777777;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}
.opportunity-card-footer fa-icon:hover {
  color: #555555;
}

/* Opportunities Action Container (.opportunities-action-container) */

.opportunities-action {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.opportunities-action-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.opportunities-action-content {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 40px 50px;
  width: 700px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.15);
}
.opportunities-action-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.opportunities-action h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}
.opportunities-action h2 {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}
.opportunities-action p {
  font-size: 0.9em;
  color: #777777;
  margin: 10px 0;
}
.close-opportunity-action-btn-1 {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  color: #777777;
  transition: color 0.1s ease-in-out;
}
.close-opportunity-action-btn-1:hover {
  color: #666666;
}
.opportunity-action-form-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}
.close-opportunity-action-btn-2 {
  border: 1px solid #777777;
  border-radius: 4px;
  background-color: transparent;
  padding: 10px 30px;
  font-size: 1em;
  cursor: pointer;
  color: #777777;
  transition: border-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.close-opportunity-action-btn-2:hover {
  border-color: #000000;
  color: #000000;
}
.save-opportunity-action-btn {
  background-color: #FF9e67;
  border: 1px solid #FF9e67;
  border-radius: 4px;
  padding: 10px 30px;
  font-size: 1em;
  cursor: pointer;
  color: #ffffff;
  transition: border-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}
.save-opportunity-action-btn:hover {
  background-color: #FF8e57;
  border-color: #FF8e57;
}
.opportunity-action-form {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.opportunity-action-form-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px
}
.opportunity-action-form-content fieldset {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.opportunity-action-form-content fieldset label {
  font-size: 0.9em;
  color: #777777;
  margin: 0 0 4px 0;
}
.opportunity-action-form-content fieldset input {
  border: 1px solid #eeeeee;
  border-radius: 4px;
  padding: 10px;
  font-size: 0.9em;
}
.opportunity-action-form-content fieldset input:focus {
  outline: none;
}
.opportunity-action-form-content fieldset select {
  border: 1px solid #eeeeee;
  border-radius: 4px;
  padding: 10px;
  font-size: 0.9em;
  height: 39px; /* To match the height of the input */
  cursor: pointer;
}
.opportunity-action-form-content fieldset select:focus {
  outline: none;
}
.opportunity-action-form-content fieldset input:focus, .opportunity-action-form-content fieldset select:focus {
  border-color: #FF9e67;
}
.opportunity-action-info .red, .opportunity-action-sidebar-form .red {
  color: #ff0800;
}

/* Opportunities Sidebar Action Container (.opportunities-sidebar-action-container) */

.opportunities-action-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.opportunities-action-sidebar-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}
.opportunities-action-sidebar-content {
  background-color: #ffffff;
  /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; */
  width: 700px;
  height: 100%;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.15);
}
.opportunities-action-sidebar-content-container {
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
}
.opportunities-action-sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.opportunities-action-sidebar-header div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.close-opportunity-sidebar-btn {
  color: #000000;
}
.close-opportunity-sidebar-btn:hover {
  color: #111111;
}
.edit-opportunity-action-btn {
  border: 1px solid #ff9e67;
  background-color: transparent;
  cursor: pointer;
  font-size: 1em;
  color: #ff9e67;
  transition: color 0.1s ease-in-out, border 0.1s ease-in-out;
  padding: 6px 12px;
  border-radius: 3px;
}
.edit-opportunity-action-btn:hover {
  color: #ff8e57;
  border: 1px solid #ff8e57;
}
.opportunity-appt-btn {
  border: 1px solid #007BFF;
  background-color: #007BFF;
  color: #ffffff;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.1s ease-in-out, border 0.1s ease-in-out;
  padding: 6px 12px;
  border-radius: 3px;
}
.opportunity-appt-btn:hover {
  background-color: #2962FF;
  border: 1px solid #2962FF;
}
.opportunity-action-sidebar-form {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.opportunity-action-sidebar-form-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px
}
.opportunity-action-sidebar-form-content fieldset {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.opportunity-action-sidebar-form-content fieldset label {
  font-size: 0.9em;
  color: #777777;
  margin: 0 0 4px 0;
}
.opportunity-action-sidebar-form-content fieldset input {
  border: 1px solid #eeeeee;
  border-radius: 4px;
  padding: 10px;
  font-size: 0.9em;
}
.opportunity-action-sidebar-form-content fieldset input:focus {
  outline: none;
}
.opportunity-action-sidebar-form-content fieldset select {
  border: 1px solid #eeeeee;
  border-radius: 4px;
  padding: 10px;
  font-size: 0.9em;
  height: 100%;
  cursor: pointer;
}
.opportunity-action-sidebar-form-content fieldset select:focus {
  outline: none;
}
.opportunity-action-sidebar-form-content fieldset input:focus, .opportunity-action-sidebar-form-content fieldset select:focus {
  border-color: #FF9e67;
}
.opportunity-action-form-sidebar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 30px;
  width: 640px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  background-color: #f5f7fa;
}
.opportunity-action-form-sidebar-nav p {
  color: #777777;
  font-size: 0.9em;
  margin: 0;
}
.opportunity-action-form-sidebar-nav div {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
.delete-opportunity-action-btn {
  background-color: #ef233c;
  border: 1px solid #ef233c;
  border-radius: 4px;
  padding: 10px 30px;
  font-size: 1em;
  cursor: pointer;
  color: #ffffff;
  transition: border-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}
.delete-opportunity-action-btn:hover {
  background-color: #d90429;
  border-color: #d90429;
}

/* Dropdowns */

.opportunities-sort-dropdown {
  display: flex;
  position: absolute;
  background-color: #ffffff;
  z-index: 1;
  border: 1px solid #ffffff;
  width: 155px;
  border-radius: 3px;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  font-size: 0.9em;
  margin-top: 10px;
}
.opportunities-sort-dropdown span {
  color: #777777;
  transition: color 0.1s ease-in-out;
  cursor: pointer;
  padding: 6px 5px;
}
.opportunities-sort-dropdown span:hover {
  color: #555555;
}
.more-opportunity-dropdown {
  display: flex;
  position: fixed;
  background-color: #ffffff;
  z-index: 1;
  border: 1px solid #ffffff;
  width: 145px;
  border-radius: 3px;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  font-size: 0.9em;
  margin-top: 10px;
  right: 40px;
}
.more-opportunity-dropdown span {
  color: #777777;
  transition: color 0.1s ease-in-out;
  cursor: pointer;
  padding: 6px 5px;
}
.more-opportunity-dropdown span:hover {
  color: #555555;
}

/* List view */

.opportunities-table {
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  border-collapse: collapse;
}
.opportunities-main-container-body-opportunities-lv {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
}
.opportunities-table th, .opportunities-table td {
  text-align: left;
  padding: 12px 15px;
}
.opportunities-table .status-th {
  text-align: center;
}
.opportunities-table .opportunity-status {
  font-size: 0.9em;
  cursor: pointer;
  text-align: center;
}
.opportunities-table .opportunity-status.not-provided {
  background-color: #f5f7fa;
  color: #888888;
}
.opportunities-table .opportunity-status.new {
  background-color: rgba(255, 158, 103, 0.1);
  color: rgb(255,158,103);
}
.opportunities-table .opportunity-status.contacted {
  background-color: rgba(249,199,79, 0.1);
  color: rgb(249,199,79);
}
.opportunities-table .opportunity-status.qualified {
  background-color: rgba(144,190,109, 0.1);
  color: rgb(144,190,109);
}
.opportunities-table .opportunity-status.closed-won, .opportunities-table .opportunity-status.closed-lost {
  background-color: rgba(249,65,68, 0.1);
  color: rgb(249,65,68);
}
.opportunities-table .more-opportunity-btn {
  border: none;
  background-color: transparent;
  text-align: center;
  color: #777777;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}
.opportunities-table .more-opportunity-btn:hover {
  color: #555555;
}
.opportunities-table th {
  font-size: 0.9em;
  color: #777777;
  font-weight: 500;
}
.opportunities-table .name-td {
  color: #2962FF;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}
.opportunities-table .name-td:hover {
  color: #0a4afa;
}
.opportunities-table .select-td, .opportunities-table .select-th {
  text-align: center;
}
.opportunity-select-btn {
  border: none;
  background-color: transparent;
  font-size: 1em;
  color: #ef233c;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}
.opportunity-select-btn:hover {
  color: #d90429;
}
.opportunities-table td {
  font-size: 0.9em;
  color: #000000;
}
.opportunities-table tr {
  border: 1px solid #eeeeee;
}
.opportunities-table tr:nth-child(even) {
  background-color: #fafafa;
}

/* Opportunity action status menu (.opportunity-status-action-menu) */

.opportunities-action-status-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.opportunities-action-status-menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.opportunities-action-status-menu-content {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 40px 50px;
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.15);
}
.opportunities-action-status-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.opportunities-action-status-menu h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}
.opportunity-action-status-menu-form-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}
.opportunity-action-status-menu-form-content fieldset {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.opportunity-action-status-menu-form-content fieldset select {
  border: 1px solid #eeeeee;
  border-radius: 4px;
  padding: 10px;
  font-size: 0.9em;
  height: 45px;
  width: 75%;
  cursor: pointer;
}
.opportunity-action-status-menu-form-content fieldset select:focus {
  outline: none;
  border-color: #FF9e67;
}
.opportunity-action-status-menu-form-content fieldset label {
  font-size: 0.9em;
  color: #777777;
  margin: 0 0 4px 0;
}
.opportunity-action-status-menu-form .red {
  color: #ff0800;
}
.opportunity-action-status-menu-form {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* File Upload Styling */

.opportunity-action-sidebar-form #opportunityPhoto {
  width: 270px;
}