<div class="opportunities-main-container">
    <div class="opportunities-main-container-header">
        <div class="opportunities-main-container-item">
            <h1>Opportunities</h1>
        </div>
        <div class="opportunities-main-container-header-nav">
            <div>
                <button class="create-opportunity-btn" (click)="opportunities_action_container = true">New Opportunity</button>
            </div>
            <div>
                <button class="more-opportunity-btn" (click)="more_info_dropdown = !more_info_dropdown">
                    <fa-icon [icon]="faEllipsisV"></fa-icon>
                </button>
                <div class="more-opportunity-dropdown" *ngIf="more_info_dropdown">
                    <span>Import opportunity</span>
                    <span (click)="downloadCSV()">Export opportunity</span>
                    <span (click)="printData()">Print opportunity</span>
                </div>
            </div>
        </div>
    </div>
    <div class="opportunities-main-container-body">
        <div class="opportunities-main-container-body-filtering">
            <div class="opportunities-main-container-body-filtering-container">
                <div class="opportunities-search">
                    <fa-icon [icon]="faSearch"></fa-icon>
                    <input (input)="onInputChange($event)" type="text" placeholder="Search for opportunity..." id="opportunitySearchInput">
                </div>
                <div class="opportunities-filters">
                    <div class="opportunities-owners">
                        <button class="opportunities-owner-btn">
                            <fa-icon [icon]="faUserAlt"></fa-icon>
                            <span>All Employees</span>
                            <fa-icon [icon]="faChevronDown"></fa-icon>
                        </button>
                    </div>
                    <div class="opportunities-sort">
                        <button class="opportunities-sort-btn" (click)="sort_by_dropdown = !sort_by_dropdown">
                            <fa-icon [icon]="faSort"></fa-icon>
                            <span>{{active_sort_factor}}</span>
                            <fa-icon [icon]="faChevronDown"></fa-icon>
                        </button>
                        <div class="opportunities-sort-dropdown" *ngIf="sort_by_dropdown">
                            <span (click)="sortOpportunities('title')">By Title</span>
                            <span (click)="sortOpportunities('value')">By Value</span>
                            <span (click)="sortOpportunities('status')">By Status</span>
                            <span (click)="sortOpportunities('prediction_score')">By Prediction Score</span>
                            <span (click)="sortOpportunities('closing_date')">By Closing Date</span>
                            <span (click)="sortOpportunities('created_at')">By Date Created</span>
                        </div>
                    </div>
                    <div class="opportunities-view">
                        <button class="opportunities-card-view-btn" (click)="toggleCardView()">
                            <fa-icon [icon]="faTableCells"></fa-icon>
                        </button>
                        <button class="opportunities-list-view-btn" (click)="toggleListView()">
                            <fa-icon [icon]="faBars"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="opportunities-main-container-body-categories">
            <div class="category active" [class.active]="active_status_filter === 0" (click)="filterOpportunityStatus(0)">
                <span>All</span>
                <span class="category-number">{{opportunity_count}}</span>
            </div>
            <div class="category" [class.active]="active_status_filter === 1" (click)="filterOpportunityStatus(1)">
                <span>New</span>
                <span class="category-number">{{opportunity_status_new_count}}</span>
            </div>
            <div class="category" [class.active]="active_status_filter === 2" (click)="filterOpportunityStatus(2)">
                <span>Talking</span>
                <span class="category-number">{{opportunity_status_talking_count}}</span>
            </div>
            <div class="category" [class.active]="active_status_filter === 3" (click)="filterOpportunityStatus(3)">
                <span>Meeting</span>
                <span class="category-number">{{opportunity_status_meeting_count}}</span>
            </div>
            <div class="category" [class.active]="active_status_filter === 4" (click)="filterOpportunityStatus(4)">
                <span>Proposal</span>
                <span class="category-number">{{opportunity_status_proposal_count}}</span>
            </div>
            <div class="category" [class.active]="active_status_filter === 5" (click)="filterOpportunityStatus(5)">
                <span>Closed-Won</span>
                <span class="category-number">{{opportunity_status_closed_won_count}}</span>
            </div>
            <div class="category" [class.active]="active_status_filter === 6" (click)="filterOpportunityStatus(6)">
                <span>Closed-Lost</span>
                <span class="category-number">{{opportunity_status_closed_lost_count}}</span>
            </div>
        </div>
        <div class="opportunities-main-container-body-opportunities-cv" *ngIf="card_view">
            <div class="opportunity-card" *ngFor="let opportunity of filteredOpportunities">
                <div class="opportunity-card-container">
                    <div class="opportunity-card-header">
                        <div class="opportunity-card-header-left">
                            <div>
                                <h3>{{opportunity.title}}</h3>
                                <p>{{getAccountNameById(opportunity.account_id)}}</p>
                            </div>
                        </div>
                        <div class="opportunity-card-header-right">
                            <span class="opportunities-cdate">{{opportunity.created_at | date: 'longDate'}}</span>
                        </div>
                    </div>
                    <hr />
                    <div class="opportunity-card-body">
                        <div>
                            <fa-icon [icon]="faClipboardUser"></fa-icon>
                            <span>{{getContactNameById(opportunity.contact_id)}}</span>
                        </div>
                        <div>
                            <fa-icon [icon]="faSackDollar"></fa-icon>
                            <span>{{formatCurrency(opportunity.value) || '-'}}</span>
                        </div>
                        <div>
                            <fa-icon [icon]="faCalendarDay"></fa-icon>
                            <span *ngIf="opportunity.closing_date">{{opportunity.closing_date | date: 'longDate'}}</span>
                            <span *ngIf="!opportunity.closing_date">Not provided</span>
                        </div>  
                    </div>
                    <div class="opportunity-card-footer">
                        <div>
                            <span (click)="openOpportunityPredictionScoreMenu(opportunity)" [ngClass]="getPredictionScoreClasses(opportunity.prediction_score)">{{opportunity.prediction_score || 'N/A'}}</span>
                            <span (click)="openOpportunityStatusMenu(opportunity)" [ngClass]="getOpportunityStatusClasses(opportunity.opportunity_status_id)">{{getOpportunityStatus(opportunity.opportunity_status_id)}}</span>
                        </div>
                        <div>
                            <fa-icon [icon]="faArrowRightToBracket" (click)="openOpportunitiesActionSidebar(opportunity)"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="opportunities-main-container-body-opportunities-lv" *ngIf="list_view && filteredOpportunities.length > 0">
            <table class="opportunities-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Date Created</th>
                        <th>Title</th>
                        <th>Value</th>
                        <th>Closing Date</th>
                        <th>Account</th>
                        <th>Contact</th>
                        <th class="status-th">Prediction Score</th>
                        <th class="status-th">Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let opportunity of filteredOpportunities">
                        <td class="select-td">
                            <button class="opportunity-select-btn" (click)="deleteOpportunityById(opportunity.opportunity_id)">
                                <fa-icon [icon]="faTrash"></fa-icon>
                            </button>
                        </td>
                        <td>{{opportunity.created_at | date: 'longDate'}}</td>
                        <td class="name-td" (click)="openOpportunitiesActionSidebar(opportunity)">{{opportunity.title}}</td>
                        <td>{{formatCurrency(opportunity.value) || '-'}}</td>
                        <td>
                            <span *ngIf="opportunity.closing_date">{{opportunity.closing_date | date: 'longDate'}}</span>
                            <span *ngIf="!opportunity.closing_date">Not provided</span>
                        </td>
                        <td>{{getAccountNameById(opportunity.account_id)}}</td>
                        <td>{{getContactNameById(opportunity.contact_id)}}</td>
                        <td class="prediction-td" (click)="openOpportunityPredictionScoreMenu(opportunity)" [ngClass]="getPredictionScoreClasses(opportunity.prediction_score)">{{opportunity.prediction_score || 'N/A'}}</td>
                        <td (click)="openOpportunityStatusMenu(opportunity)" [ngClass]="getOpportunityStatusClasses(opportunity.opportunity_status_id)">{{getOpportunityStatus(opportunity.opportunity_status_id)}}</td>
                        <td class="more-opportunity-btn">
                            <fa-icon [icon]="faArrowRightToBracket" (click)="openOpportunitiesActionSidebar(opportunity)"></fa-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="filteredOpportunities && filteredOpportunities.length === 0 && !loading">
        <app-no-data></app-no-data>
    </div>
    <div id="loading" *ngIf="loading">
        <app-loading></app-loading>
    </div>
</div>
<div class="opportunities-action" *ngIf="opportunities_action_container">
    <div class="opportunities-action-container">
        <div class="opportunities-action-content">
            <div class="opportunities-action-row opportunities-action-header">
                <div>
                <h1>Create new opportunity</h1>
                </div>
                <div>
                <button class="close-opportunity-action-btn-1" (click)="opportunities_action_container = false">
                    <fa-icon [icon]="faXmark"></fa-icon>
                </button>
                </div>
            </div>
            <div class="opportunities-action-row">
                <div>
                    <h2>Opportunity information</h2>
                    <p>Enter the information for your newly generated opportunity.</p>
                </div>
                <div class="opportunity-action-info">
                    <form class="opportunity-action-form" (ngSubmit)="createOpportunity()" #opportunityForm="ngForm">
                        <div class="opportunity-action-form-content">
                            <fieldset>
                                <label for="opportunityOwner">Opportunity owner<span class="red">*</span></label>
                                <select disabled name="opportunityOwner" id="opportunityOwner">
                                    <option value="">{{username}}</option>
                                </select>
                            </fieldset>
                            <fieldset>
                                <label for="opportunityAccount">Account<span class="red">*</span></label>
                                <select name="opportunityAccount" id="opportunityAccount" [(ngModel)]="account_id" required #opportunityAccount="ngModel">
                                    <option value="" disabled selected>--Select Account--</option>
                                    <option *ngFor="let account of ACCOUNT" value="{{account.account_id}}">{{account.name}}</option>
                                </select>
                                <div *ngIf="opportunityAccount.invalid && (opportunityAccount.dirty || opportunityAccount.touched)" class="alert">
                                    <div *ngIf="opportunityAccount.errors && opportunityAccount.errors['required']">
                                        Account is required.
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <label for="opportunityTitle">Title<span class="red">*</span></label>
                                <input type="text" name="opportunityTitle" id="opportunityTitle" placeholder="Enter opportunity title" [(ngModel)]="title" required #opportunityTitle="ngModel">
                                <div *ngIf="opportunityTitle.invalid && (opportunityTitle.dirty || opportunityTitle.touched)" class="alert">
                                    <div *ngIf="opportunityTitle.errors && opportunityTitle.errors['required']">
                                        Title is required.
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <label for="opportunityValue">Value</label>
                                <input type="number" name="opportunityValue" id="opportunityValue" placeholder="Enter potential value" [(ngModel)]="value" min="1" max="9999999999">
                            </fieldset>
                            <fieldset>
                                <label for="opportunityPredictionScore">Prediction Score</label>
                                <input type="number" name="opportunityPredictionScore" id="opportunityPredictionScore" placeholder="Enter prediction score" [(ngModel)]="prediction_score" min="1" max="100">
                            </fieldset>
                            <fieldset>
                                <label for="opportunityStatus">Status<span class="red">*</span></label>
                                <select name="opportunityStatus" id="opportunityStatus" [(ngModel)]="opportunity_status_id" required #opportunityStatus="ngModel">
                                    <option value="" disabled selected>--Select Status--</option>
                                    <option value="1">New</option>
                                    <option value="2">Talking</option>
                                    <option value="3">Meeting</option>
                                    <option value="4">Proposal</option>
                                    <option value="5">Closed-Won</option>
                                    <option value="6">Closed-Lost</option>
                                </select>
                                <div *ngIf="opportunityStatus.invalid && (opportunityStatus.dirty || opportunityStatus.touched)" class="alert">
                                    <div *ngIf="opportunityStatus.errors && opportunityStatus.errors['required']">
                                        Status is required.
                                    </div>
                                </div>
                            </fieldset> 
                            <fieldset>
                                <label for="opportunityContact">Contact<span class="red">*</span></label>
                                <select name="opportunityContact" id="opportunityContact" [(ngModel)]="contact_id" required #opportunityContact="ngModel">
                                    <option value="" disabled selected>--Select Contact--</option>
                                    <option *ngFor="let contact of CONTACT" value="{{contact.contact_id}}">{{contact.title}} {{contact.first_name}} {{contact.last_name}}</option>
                                </select>
                                <div *ngIf="opportunityContact.invalid && (opportunityContact.dirty || opportunityContact.touched)" class="alert">
                                    <div *ngIf="opportunityContact.errors && opportunityContact.errors['required']">
                                        Contact is required.
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <label for="opportunityClosingDate">Closing Date</label>
                                <input type="date" name="opportunityClosingDate" id="opportunityClosingDate" [(ngModel)]="closing_date">
                            </fieldset>
                        </div>
                        <div class="opportunity-action-form-nav">
                            <button class="close-opportunity-action-btn-2" (click)="opportunities_action_container = false">Cancel</button>
                            <button class="save-opportunity-action-btn" type="submit" [disabled]="opportunityForm.invalid">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="opportunities-action-sidebar" *ngIf="opportunities_action_sidebar_container">
    <div class="opportunities-action-sidebar-container">
        <div class="opportunities-action-sidebar-content">
            <div class="opportunities-action-sidebar-content-container">
                <div class="opportunities-action-sidebar-row opportunities-action-sidebar-header">
                    <div>
                        <button class="close-opportunity-action-btn-1 close-opportunity-sidebar-btn" (click)="onReset()">
                            <fa-icon [icon]="faArrowLeft"></fa-icon>
                        </button>
                        <h1>Opportunity info</h1>
                    </div>
                    <div>
                        <button class="opportunity-appt-btn">
                            Book Appointment
                        </button>
                        <button class="edit-opportunity-action-btn" (click)="opportunity_edit_mode = !opportunity_edit_mode">
                            Edit Opportunity
                        </button>
                    </div>
                </div>
                <div class="opportunities-action-sidebar-row">
                    <form class="opportunity-action-sidebar-form" (ngSubmit)="updateOpportunity()" #opportunityActionForm="ngForm">
                        <div class="opportunity-action-sidebar-form-content">
                            <fieldset>
                                <label for="opportunityOwner">Opportunity owner<span class="red">*</span></label>
                                <select disabled name="opportunityOwner" id="opportunityOwner">
                                    <option value="">--Coming Soon--</option>
                                </select>
                            </fieldset>
                            <fieldset>
                                <label for="opportunityAccount">Account<span class="red">*</span></label>
                                <select [disabled]="!opportunity_edit_mode" name="opportunityAccount" id="opportunityAccount" [(ngModel)]="account_id" required #opportunityAccount="ngModel">
                                    <option value="" disabled selected>--Select Account--</option>
                                    <option *ngFor="let account of ACCOUNT" value="{{account.account_id}}">{{account.name}}</option>
                                </select>
                                <div *ngIf="opportunityAccount.invalid && (opportunityAccount.dirty || opportunityAccount.touched)" class="alert">
                                    <div *ngIf="opportunityAccount.errors && opportunityAccount.errors['required']">
                                        Account is required.
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <label for="opportunityTitle">Title<span class="red">*</span></label>
                                <input [disabled]="!opportunity_edit_mode" type="text" name="opportunityTitle" id="opportunityTitle" placeholder="Enter opportunity title" [(ngModel)]="title" required #opportunityTitle="ngModel">
                                <div *ngIf="opportunityTitle.invalid && (opportunityTitle.dirty || opportunityTitle.touched)" class="alert">
                                    <div *ngIf="opportunityTitle.errors && opportunityTitle.errors['required']">
                                        Title is required.
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <label for="opportunityValue">Value</label>
                                <input [disabled]="!opportunity_edit_mode" type="number" name="opportunityValue" id="opportunityValue" placeholder="Enter potential value" [(ngModel)]="value" min="1" max="9999999999">
                            </fieldset>
                            <fieldset>
                                <label for="opportunityPredictionScore">Prediction Score</label>
                                <input [disabled]="!opportunity_edit_mode" type="number" name="opportunityPredictionScore" id="opportunityPredictionScore" placeholder="Enter prediction score" [(ngModel)]="prediction_score" min="1" max="100">
                            </fieldset>
                            <fieldset>
                                <label for="opportunityStatus">Status<span class="red">*</span></label>
                                <select [disabled]="!opportunity_edit_mode" name="opportunityStatus" id="opportunityStatus" [(ngModel)]="opportunity_status_id" required #opportunityStatus="ngModel">
                                    <option value="" disabled selected>--Select Status--</option>
                                    <option value="1">New</option>
                                    <option value="2">Talking</option>
                                    <option value="3">Meeting</option>
                                    <option value="4">Proposal</option>
                                    <option value="5">Closed-Won</option>
                                    <option value="6">Closed-Lost</option>
                                </select>
                                <div *ngIf="opportunityStatus.invalid && (opportunityStatus.dirty || opportunityStatus.touched)" class="alert">
                                    <div *ngIf="opportunityStatus.errors && opportunityStatus.errors['required']">
                                        Status is required.
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <label for="opportunityContact">Contact<span class="red">*</span></label>
                                <select [disabled]="!opportunity_edit_mode" name="opportunityContact" id="opportunityContact" [(ngModel)]="contact_id" required #opportunityContact="ngModel">
                                    <option value="" disabled selected>--Select Contact--</option>
                                    <option *ngFor="let contact of CONTACT" value="{{contact.contact_id}}">{{contact.title}} {{contact.first_name}} {{contact.last_name}}</option>
                                </select>
                                <div *ngIf="opportunityContact.invalid && (opportunityContact.dirty || opportunityContact.touched)" class="alert">
                                    <div *ngIf="opportunityContact.errors && opportunityContact.errors['required']">
                                        Contact is required.
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <label for="opportunityClosingDate">Closing Date</label>
                                <input [disabled]="!opportunity_edit_mode" type="date" name="opportunityClosingDate" id="opportunityClosingDate" [(ngModel)]="closing_date">
                            </fieldset>
                        </div>
                        <div class="opportunity-action-form-sidebar-nav" [style.display]="opportunity_edit_mode == false ? 'none' : 'flex'">
                            <div>
                                <button class="delete-opportunity-action-btn" (click)="deleteOpportunity()">
                                    Delete Opportunity
                                </button>
                            </div>
                            <div>
                                <button class="close-opportunity-action-btn-2" (click)="onReset()">Cancel</button>
                                <button class="save-opportunity-action-btn" type="submit" [disabled]="opportunityActionForm.invalid">Save</button>
                            </div>
                        </div>
                    </form>
                    <!-- Room for comments/notes to be added in future updates -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="opportunities-action-status-menu" *ngIf="opportunity_action_status_menu">
    <div class="opportunities-action-status-menu-container">
        <div class="opportunities-action-status-menu-content">
            <div class="opportunities-action-status-menu-row opportunities-action-status-menu-header">
                <div>
                    <h1>Change opportunity status</h1>
                </div>
                <div>
                    <button class="close-opportunity-action-btn-1" (click)="opportunity_action_status_menu = false">
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </button>
                </div>
            </div>
            <div class="opportunities-action-status-menu-row">
                <form class="opportunity-action-status-menu-form" (ngSubmit)="updateOpportunityStatus(opportunity_status_id)" #opportunityStatusActionForm="ngForm">
                    <div class="opportunity-action-status-menu-form-content">
                        <fieldset>
                            <label for="opportunityStatus">Status<span class="red">*</span></label>
                            <select name="opportunityStatus" id="opportunityStatus" [(ngModel)]="opportunity_status_id" required #opportunityStatus="ngModel">
                                <option value="" disabled selected>--Select Status--</option>
                                <option value="1">New</option>
                                <option value="2">Talking</option>
                                <option value="3">Meeting</option>
                                <option value="4">Proposal</option>
                                <option value="5">Closed-Won</option>
                                <option value="6">Closed-Lost</option>
                            </select>
                            <div *ngIf="opportunityStatus.invalid && (opportunityStatus.dirty || opportunityStatus.touched)" class="alert">
                                <div *ngIf="opportunityStatus.errors && opportunityStatus.errors['required']">
                                    Status is required.
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="opportunity-action-status-menu-form-nav">
                        <button class="close-opportunity-action-btn-2" (click)="onReset()">Cancel</button>
                        <button class="save-opportunity-action-btn" type="submit" [disabled]="opportunityStatusActionForm.invalid">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="opportunities-action-status-menu" *ngIf="opportunity_action_status_menu_2">
    <div class="opportunities-action-status-menu-container">
        <div class="opportunities-action-status-menu-content">
            <div class="opportunities-action-status-menu-row opportunities-action-status-menu-header">
                <div>
                    <h1>Change prediction score</h1>
                </div>
                <div>
                    <button class="close-opportunity-action-btn-1" (click)="opportunity_action_status_menu_2 = false">
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </button>
                </div>
            </div>
            <div class="opportunities-action-status-menu-row">
                <form class="opportunity-action-status-menu-form">
                    <div class="opportunity-action-status-menu-form-content">
                        <fieldset>
                            <label for="opportunityStatus">Value</label>
                            <input type="number" name="opportunityPredictionScore" id="opportunityPredictionScore" placeholder="Enter prediction score" [(ngModel)]="prediction_score" min="1" max="100">
                        </fieldset>
                    </div>
                    <div class="opportunity-action-status-menu-form-nav">
                        <button class="close-opportunity-action-btn-2" (click)="onReset()">Cancel</button>
                        <button class="save-opportunity-action-btn" (click)="updateOpportunityPredictionScore(prediction_score)">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>