<div class="leads-main-container">
    <div class="leads-main-container-header">
        <div class="leads-main-container-item">
            <h1>Leads</h1>
        </div>
        <div class="leads-main-container-header-nav">
            <div>
                <button class="create-lead-btn" (click)="leads_action_container = true">New Lead</button>
            </div>
            <div>
                <button class="more-lead-btn" (click)="more_info_dropdown = !more_info_dropdown">
                    <fa-icon [icon]="faEllipsisV"></fa-icon>
                </button>
                <div class="more-lead-dropdown" *ngIf="more_info_dropdown">
                    <span>Import Leads</span>
                    <span (click)="downloadCSV()">Export Leads</span>
                    <span (click)="printData()">Print Leads</span>
                </div>
            </div>
        </div>
    </div>
    <div class="leads-main-container-body">
        <div class="leads-main-container-body-filtering">
            <div class="leads-main-container-body-filtering-container">
                <div class="leads-search">
                    <fa-icon [icon]="faSearch"></fa-icon>
                    <input (input)="onInputChange($event)" type="text" placeholder="Search for leads..." id="leadSearchInput">
                </div>
                <div class="leads-filters">
                    <div class="leads-owners">
                        <button class="leads-owner-btn">
                            <fa-icon [icon]="faUserAlt"></fa-icon>
                            <span>All Employees</span>
                            <fa-icon [icon]="faChevronDown"></fa-icon>
                        </button>
                    </div>
                    <div class="leads-sort">
                        <button class="leads-sort-btn" (click)="sort_by_dropdown = !sort_by_dropdown">
                            <fa-icon [icon]="faSort"></fa-icon>
                            <span>{{active_sort_factor}}</span>
                            <fa-icon [icon]="faChevronDown"></fa-icon>
                        </button>
                        <div class="leads-sort-dropdown" *ngIf="sort_by_dropdown">
                            <span (click)="sortLeads('first_name')">By First Name</span>
                            <span (click)="sortLeads('last_name')">By Last Name</span>
                            <span (click)="sortLeads('company')">By Company</span>
                            <span (click)="sortLeads('status')">By Status</span>
                            <span (click)="sortLeads('created_at')">By Date Created</span>
                        </div>
                    </div>
                    <div class="leads-view">
                        <button class="leads-card-view-btn" (click)="toggleCardView()">
                            <fa-icon [icon]="faTableCells"></fa-icon>
                        </button>
                        <button class="leads-list-view-btn" (click)="toggleListView()">
                            <fa-icon [icon]="faBars"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="leads-main-container-body-categories">
            <div class="category active" [class.active]="active_status_filter === 0" (click)="filterLeadStatus(0)">
                <span>All</span>
                <span class="category-number">{{lead_count}}</span>
            </div>
            <div class="category" [class.active]="active_status_filter === 1" (click)="filterLeadStatus(1)">
                <span>New</span>
                <span class="category-number">{{lead_status_new_count}}</span>
            </div>
            <div class="category" [class.active]="active_status_filter === 2" (click)="filterLeadStatus(2)">
                <span>Contacted</span>
                <span class="category-number">{{lead_status_contacted_count}}</span>
            </div>
            <div class="category" [class.active]="active_status_filter === 3" (click)="filterLeadStatus(3)">
                <span>Qualified</span>
                <span class="category-number">{{lead_status_qualified_count}}</span>
            </div>
            <div class="category" [class.active]="active_status_filter === 4" (click)="filterLeadStatus(4)">
                <span>Closed-Won</span>
                <span class="category-number">{{lead_status_closed_won_count}}</span>
            </div>
            <div class="category" [class.active]="active_status_filter === 5" (click)="filterLeadStatus(5)">
                <span>Closed-Lost</span>
                <span class="category-number">{{lead_status_closed_lost_count}}</span>
            </div>
        </div>
        <div class="leads-main-container-body-leads-cv" *ngIf="card_view">
            <div class="lead-card" *ngFor="let lead of filteredLeads">
                <div class="lead-card-container">
                    <div class="lead-card-header">
                        <div class="lead-card-header-left">
                            <div>
                                <img [src]="DefaultPFP" alt="Default profile picture image">
                            </div>
                            <div>
                                <h3>{{lead.title}} {{lead.first_name}} {{lead.last_name}}</h3>
                                <p>{{lead.company}}</p>
                            </div>
                        </div>
                        <div class="lead-card-header-right">
                            <span class="lead-cdate">{{lead.created_at | date: 'longDate'}}</span>
                        </div>
                    </div>
                    <hr />
                    <div class="lead-card-body">
                        <div>
                            <fa-icon [icon]="faPhone"></fa-icon>
                            <span>{{lead.phone_number || 'Not provided'}}</span>
                        </div>
                        <div>
                            <fa-icon [icon]="faEnvelope"></fa-icon>
                            <span>{{lead.email || 'Not provided'}}</span>
                        </div>
                    </div>
                    <div class="lead-card-footer">
                        <span (click)="openLeadStatusMenu(lead)" [ngClass]="getLeadStatusClasses(lead.lead_status_id)">{{getLeadStatus(lead.lead_status_id)}}</span>
                        <fa-icon [icon]="faArrowRightToBracket" (click)="openLeadsActionSidebar(lead)"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="leads-main-container-body-leads-lv" *ngIf="list_view && filteredLeads.length > 0">
            <table class="leads-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Date Created</th>
                        <th>Name</th>
                        <th>Company</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th class="status-th">Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let lead of filteredLeads">
                        <td class="select-td">
                            <button class="lead-select-btn" (click)="deleteLeadById(lead.lead_id)">
                                <fa-icon [icon]="faTrash"></fa-icon>
                            </button>
                        </td>
                        <td>{{lead.created_at | date: 'longDate'}}</td>
                        <td class="name-td" (click)="openLeadsActionSidebar(lead)">{{lead.title}} {{lead.first_name}} {{lead.last_name}}</td>
                        <td>{{lead.company}}</td>
                        <td>{{lead.phone_number || 'Not provided'}}</td>
                        <td>{{lead.email || 'Not provided'}}</td>
                        <td (click)="openLeadStatusMenu(lead)" [ngClass]="getLeadStatusClasses(lead.lead_status_id)">{{getLeadStatus(lead.lead_status_id)}}</td>
                        <td class="more-lead-btn">
                            <fa-icon [icon]="faArrowRightToBracket" (click)="openLeadsActionSidebar(lead)"></fa-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="filteredLeads && filteredLeads.length === 0 && !loading">
        <app-no-data></app-no-data>
    </div>
    <div id="loading" *ngIf="loading">
        <app-loading></app-loading>
    </div>
</div>
<div class="leads-action" *ngIf="leads_action_container">
    <div class="leads-action-container">
        <div class="leads-action-content">
            <div class="lead-action-row leads-action-header">
                <div>
                <h1>Create new lead</h1>
                </div>
                <div>
                <button class="close-lead-action-btn-1" (click)="leads_action_container = false">
                    <fa-icon [icon]="faXmark"></fa-icon>
                </button>
                </div>
            </div>
            <div class="lead-action-row">
                <div>
                    <h2>Lead information</h2>
                    <p>Enter the information for your newly generated lead.</p>
                </div>
                <div class="lead-action-info">
                    <form class="lead-action-form">
                        <div class="lead-action-form-content">
                            <fieldset>
                                <label for="leadOwner">Lead owner<span class="red">*</span></label>
                                <select disabled name="leadOwner" id="leadOwner">
                                    <option value="">{{username}}</option>
                                </select>
                            </fieldset>
                            <fieldset>
                                <label for="leadSource">Lead source</label>
                                <input type="text" id="leadSource" name="leadSource" placeholder="Enter lead source" maxlength="50" [(ngModel)]="source">
                            </fieldset>
                            <fieldset>
                                <label for="leadPhoto">Photo</label>
                                <input type="file" id="leadPhoto" name="leadPhoto" [(ngModel)]="photo_url">
                            </fieldset>
                            <fieldset>
                                <label for="leadTitle">Title</label>
                                <select name="leadTitle" id="leadTitle" [(ngModel)]="title">
                                    <option value="" disabled selected>--None--</option>
                                    <option value="Mr.">Mr.</option>
                                    <option value="Mrs.">Mrs.</option>
                                    <option value="Ms.">Ms.</option>
                                    <option value="Dr.">Dr.</option>
                                </select>
                            </fieldset>
                            <fieldset>
                                <label for="leadFirstName">First name<span class="red">*</span></label>
                                <input type="text" id="leadFirstName" name="leadFirstName" placeholder="Enter first name" maxlength="50" [(ngModel)]="first_name" required>
                            </fieldset>
                            <fieldset>
                                <label for="leadLastName">Last name<span class="red">*</span></label>
                                <input type="text" id="leadLastName" name="leadLastName" placeholder="Enter last name" maxlength="50" [(ngModel)]="last_name" required>
                            </fieldset>
                            <fieldset>
                                <label for="leadCompany">Company<span class="red">*</span></label>
                                <input type="text" id="leadCompany" name="leadCompany" placeholder="Enter company name" maxlength="50" [(ngModel)]="company" required>
                            </fieldset>
                            <fieldset>
                                <label for="leadStatus">Status<span class="red">*</span></label>
                                <select name="leadStatus" id="leadStatus" [(ngModel)]="lead_status_id" required>
                                    <option value="" disabled selected>--Select Status--</option>
                                    <option value="1">New</option>
                                    <option value="2">Contacted</option>
                                    <option value="3">Qualified</option>
                                    <option value="4">Closed-Won</option>
                                    <option value="5">Closed-Lost</option>
                                </select>
                            </fieldset>
                            <fieldset>
                                <label for="leadPhone">Phone</label>
                                <input type="tel" id="leadPhone" name="leadPhone" placeholder="Enter phone number" maxlength="50" [(ngModel)]="phone_number">
                            </fieldset>
                            <fieldset>
                                <label for="leadEmail">Email</label>
                                <input type="email" id="leadEmail" name="leadEmail" placeholder="Enter email address" maxlength="50" [(ngModel)]="email">
                            </fieldset>  
                        </div>
                        <div class="lead-action-form-nav">
                            <button class="close-lead-action-btn-2" (click)="leads_action_container = false">Cancel</button>
                            <button class="save-lead-action-btn" (click)="createLead()">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="leads-action-sidebar" *ngIf="leads_action_sidebar_container">
    <div class="leads-action-sidebar-container">
        <div class="leads-action-sidebar-content">
            <div class="leads-action-sidebar-content-container">
                <div class="lead-action-sidebar-row leads-action-sidebar-header">
                    <div>
                        <button class="close-lead-action-btn-1 close-lead-sidebar-btn" (click)="onReset()">
                            <fa-icon [icon]="faArrowLeft"></fa-icon>
                        </button>
                        <h1>Lead information</h1>
                    </div>
                    <div>
                        <button class="lead-appt-btn">
                            Book Appointment
                        </button>
                        <button class="edit-lead-action-btn" (click)="lead_edit_mode = !lead_edit_mode">
                            Edit Lead
                        </button>
                    </div>
                </div>
                <div class="lead-action-sidebar-row">
                    <form class="lead-action-sidebar-form">
                        <div class="lead-action-sidebar-form-content">
                            <fieldset>
                                <label for="leadOwner">Lead owner<span class="red">*</span></label>
                                <select disabled name="leadOwner" id="leadOwner">
                                    <option value="">--Coming Soon--</option>
                                </select>
                            </fieldset>
                            <fieldset>
                                <label for="leadSource">Lead source</label>
                                <input [disabled]="!lead_edit_mode" type="text" id="leadSource" name="leadSource" [placeholder]="lead_edit_mode ? 'Enter lead source' : ''" maxlength="50" [(ngModel)]="source">
                            </fieldset>
                            <fieldset>
                                <label for="leadPhoto">Photo</label>
                                <input [disabled]="!lead_edit_mode" type="file" id="leadPhoto" name="leadPhoto" [(ngModel)]="photo_url">
                            </fieldset>
                            <fieldset>
                                <label for="leadTitle">Title</label>
                                <select [disabled]="!lead_edit_mode" name="leadTitle" id="leadTitle" [(ngModel)]="title">
                                    <option value="" disabled selected>--None--</option>
                                    <option value="Mr.">Mr.</option>
                                    <option value="Mrs.">Mrs.</option>
                                    <option value="Ms.">Ms.</option>
                                    <option value="Dr.">Dr.</option>
                                </select>
                            </fieldset>
                            <fieldset>
                                <label for="leadFirstName">First name<span class="red">*</span></label>
                                <input [disabled]="!lead_edit_mode" type="text" id="leadFirstName" name="leadFirstName" [placeholder]="lead_edit_mode ? 'Enter first name' : ''" maxlength="50" [(ngModel)]="first_name">
                            </fieldset>
                            <fieldset>
                                <label for="leadLastName">Last name<span class="red">*</span></label>
                                <input [disabled]="!lead_edit_mode" type="text" id="leadLastName" name="leadLastName" [placeholder]="lead_edit_mode ? 'Enter last name' : ''" maxlength="50" [(ngModel)]="last_name">
                            </fieldset>
                            <fieldset>
                                <label for="leadCompany">Company<span class="red">*</span></label>
                                <input [disabled]="!lead_edit_mode" type="text" id="leadCompany" name="leadCompany" [placeholder]="lead_edit_mode ? 'Enter company name' : ''" maxlength="50" [(ngModel)]="company">
                            </fieldset>
                            <fieldset>
                                <label for="leadStatus">Status<span class="red">*</span></label>
                                <select [disabled]="!lead_edit_mode" name="leadStatus" id="leadStatus" [(ngModel)]="lead_status_id">
                                    <option value="" disabled selected>--Select Status--</option>
                                    <option value="1">New</option>
                                    <option value="2">Contacted</option>
                                    <option value="3">Qualified</option>
                                    <option value="4">Closed-Won</option>
                                    <option value="5">Closed-Lost</option>
                                </select>
                            </fieldset>
                            <fieldset>
                                <label for="leadPhone">Phone</label>
                                <input [disabled]="!lead_edit_mode" type="tel" id="leadPhone" name="leadPhone" [placeholder]="lead_edit_mode ? 'Enter phone number' : ''" maxlength="50" [(ngModel)]="phone_number">
                            </fieldset>
                            <fieldset>
                                <label for="leadEmail">Email</label>
                                <input [disabled]="!lead_edit_mode" type="email" id="leadEmail" name="leadEmail" [placeholder]="lead_edit_mode ? 'Enter email address' : ''" maxlength="50" [(ngModel)]="email">
                            </fieldset>
                        </div>
                        <div class="lead-action-form-sidebar-nav" [style.display]="lead_edit_mode == false ? 'none' : 'flex'">
                            <div>
                                <button class="delete-lead-action-btn" (click)="deleteLead()">
                                    Delete Lead
                                </button>
                            </div>
                            <div>
                                <button class="close-lead-action-btn-2" (click)="onReset()">Cancel</button>
                                <button class="save-lead-action-btn" (click)="updateLead()">Save</button>
                            </div>
                        </div>
                    </form>
                    <!-- Room for comments/notes to be added in future updates -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="leads-action-status-menu" *ngIf="lead_action_status_menu">
    <div class="leads-action-status-menu-container">
        <div class="leads-action-status-menu-content">
            <div class="lead-action-status-menu-row leads-action-status-menu-header">
                <div>
                    <h1>Change lead status</h1>
                </div>
                <div>
                    <button class="close-lead-action-btn-1" (click)="lead_action_status_menu = false">
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </button>
                </div>
            </div>
            <div class="lead-action-status-menu-row">
                <form class="lead-action-status-menu-form">
                    <div class="lead-action-status-menu-form-content">
                        <fieldset>
                            <label for="leadStatus">Status<span class="red">*</span></label>
                            <select name="leadStatus" id="leadStatus" [(ngModel)]="lead_status_id">
                                <option value="" disabled selected>--Select Status--</option>
                                <option value="1">New</option>
                                <option value="2">Contacted</option>
                                <option value="3">Qualified</option>
                                <option value="4">Closed-Won</option>
                                <option value="5">Closed-Lost</option>
                            </select>
                        </fieldset>
                    </div>
                    <div class="lead-action-status-menu-form-nav">
                        <button class="close-lead-action-btn-2" (click)="onReset()">Cancel</button>
                        <button class="save-lead-action-btn" (click)="updateLeadStatus(lead_status_id)">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>