<div class="leads-container">
    <div class="leads-header">
        <div class="leads-item">
            <h1>Leads</h1>
        </div>
        <div class="leads-item">
            <button class="create-btn">New Lead</button>
            <button class="export-btn">
                <fa-icon [icon]="faDownload"></fa-icon>
                <span>Export</span>
            </button>
        </div>
    </div>
    <div class="leads-body" *ngIf="LEAD && LEAD.length > 0">
        <div class="leads-body-row">
            <div class="leads-body-item">
                <div class="leads-filter">
                    <span>All status</span>
                    <fa-icon [icon]="faChevronDown"></fa-icon>
                </div>
                <div class="leads-filter">
                    <span>All sources</span>
                    <fa-icon [icon]="faChevronDown"></fa-icon>
                </div>
            </div>
            <div class="leads-body-item">
                <div class="leads-search">
                    <fa-icon [icon]="faSearch"></fa-icon>
                    <input type="text" placeholder="Search for any lead...">
                </div>
            </div>  
        </div>
        <div class="leads-body-row"> <!-- Status cards -->
            <div class="leads-stats">
                <div class="leads-stats-item">
                    <div>
                        <div class="status-dot green"></div>
                        <div>
                            <span>New</span>
                        </div>
                    </div>
                    <div>
                        <p>5 leads</p>
                    </div>
                </div>
                <div class="leads-stats-item">
                    <div>
                        <div class="status-dot orange"></div>
                        <div>
                            <span>Contacted</span>
                        </div>
                    </div>
                    <div>
                        <p>3 leads</p>
                    </div>
                </div>
                <div class="leads-stats-item">
                    <div>
                        <div class="status-dot blue"></div>
                        <div>
                            <span>In-Process</span>
                        </div>
                    </div>
                    <div>
                        <p>10 leads</p>
                    </div>
                </div>
                <div class="leads-stats-item">
                    <div>
                        <div class="status-dot red"></div>
                        <div>
                            <span>Closed</span>
                        </div>
                    </div>
                    <div>
                        <p>2 leads</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="leads-body-row"> <!-- Lead cards -->
            <div class="leads">
                <div class="lead-card" *ngFor="let lead of LEAD">
                    <div class="lead-card-container">
                        <div class="lead-card-container-item">
                            <div class="lead-card-container-column">
                                <div>
                                    <img [src]="DefaultPFP" alt="Default profile picture image" class="lead-pfp">
                                </div>
                                <div>
                                    <h3>{{ lead.first_name }} {{ lead.last_name }}</h3>
                                    <p>{{ lead.company }}</p>
                                </div>
                            </div> 
                            <div class="lead-card-container-column">
                                <fa-icon [icon]="faEllipsisV"></fa-icon>
                            </div>
                        </div>
                        <hr />
                        <div class="lead-card-container-item">
                            <div class="lead-card-container-row">
                                <fa-icon [icon]="faPhone"></fa-icon>
                                <span>{{ lead.phone_number }}</span>
                            </div>
                            <div class="lead-card-container-row">
                                <fa-icon [icon]="faEnvelope"></fa-icon>
                                <span>{{ lead.email }}</span>
                            </div>
                            <div class="lead-card-container-row">
                                <span [ngClass]="getStatusClasses(lead.status_id.toString())">{{ getStatus(lead.status_id.toString()) }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="no-leads" *ngIf="LEAD && LEAD.length === 0 && !loading">
        <img [src]="ShapesBanner" alt="A triangle, a square, a circle, and a trapezoid.">
        <p class="uh-oh">Uh oh! We couldn't find any existing leads.</p>
        <p>Start a new lead by clicking <span>here</span>, or by clicking the 'New Lead' button at the top of your screen.</p>
    </div>
    <div class="loading" *ngIf="loading">
        <p>Loading...</p>
    </div>
</div>