.leads-container {
    padding: 0 1%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* Leads header */

.leads-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leads-header .leads-item:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.create-btn {
    cursor: pointer;
    border: none;
    color: #ffffff;
    background-color: #6BCB3D;
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 1em;
}
.export-btn {
    cursor: pointer;
    border: none;
    color: #ffffff;
    background-color: #878787;
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.leads-header h1 {
    font-size: 1.4em;
}

/* Leads body */

.leads-body {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.leads-body-row:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.leads-body-row:first-child .leads-body-item:first-child {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.leads-filter {
    display: flex;
    flex-direction: row;
    gap: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid #878787;
    padding: 6px 12px;
    border-radius: 5px;
    color: #878787;
    font-weight: 400;
    font-size: 1em;
}
.leads-filter:hover {
    background-color: #dddddd;
}
.leads-search {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    border: 1px solid #878787;
    border-radius: 5px;
    padding: 6px 12px;
}
.leads-search fa-icon {
    color: #878787;
}
.leads-search input {
  background-color: transparent;
  border: none;
  width: 20vw;
  font-size: 1em;
}
.leads-search input:focus {
  outline: none;
}
.status-dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}
.status-dot.green {
    background-color: #6BCB3D;
}
.status-dot.orange {
    background-color: #FFC107;
}
.status-dot.blue {
    background-color: #007BFF;
}
.status-dot.red {
    background-color: #DC3545;
}
.leads-stats-item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #ffffff;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.leads-stats {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
}
@media screen and (max-width: 1250px) {
    .leads-stats {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
}
@media screen and (max-width: 630px) {
    .leads-stats {
        grid-template-columns: repeat(1, minmax(250px, 1fr));
    }
}
.leads-stats-item p {
    margin: 0;
    padding: 5px 10px;
    background-color: #eeeeee;
    font-weight: 500;
    border-radius: 8px;
    color: #878787;
}
.leads-stats-item div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

/* Leads Cards */

.leads {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
}
@media screen and (max-width: 1250px) {
    .leads {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
}
@media screen and (max-width: 960px) {
    .leads {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
}
@media screen and (max-width: 630px) {
    .leads {
        grid-template-columns: repeat(1, minmax(250px, 1fr));
    }
}
.lead-card {
    background-color: #ffffff;
    border-radius: 10px;
}
.lead-card-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: #878787;
}
.lead-card-container hr {
    margin: 20px 0;
    border: 1px solid #eeeeee;
}
.lead-card-container .lead-pfp {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.lead-card-container-item:first-child {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}
.lead-card-container-item:first-child div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 2px;

}
.lead-card-container-item:last-child {
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.lead-card-container-row {
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.lead-card-container-item h3 {
    color: #000000;
}
.lead-card-container-item h3, .lead-card-container-item p {
    margin: 0;
    padding: 0;
}
.lead-card-container-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.status {
    margin: 0;
    padding: 5px 10px;
    background-color: #eeeeee;
    font-weight: 500;
    border-radius: 8px;
    color: #878787;
}
.status.new {
    background-color: #f0faec;
    color: #6BCB3D;
}
.status.contacted {
    background-color: #fff9e6;
    color: #FFC107;
}
.status.in-process {
    background-color: #e6f2ff;
    color: #007BFF;
}
.status.closed {
    background-color: #fcebec;
    color: #DC3545;
}

/* No leads */

.no-leads {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    margin-top: 50px;
  }
  .no-leads span {
    text-decoration: underline;
    cursor: pointer;
    color: #2962ff;
  }
  .no-leads span:hover {
    text-decoration: none;
  }
  .no-leads img {
    height: 70px;
  }
  .no-leads .uh-oh {
    font-weight: 600;
  }