<main class="workspace-content-area">
    <section class="home" *ngIf="this.featureService.home">
        Home works!
    </section>
    <section class="leads" *ngIf="this.featureService.leads">
        <app-leads></app-leads>
    </section>
    <section class="contacts" *ngIf="this.featureService.contacts">
        <app-contacts></app-contacts>
    </section>
    <section class="accounts" *ngIf="this.featureService.accounts">
        <app-accounts></app-accounts>
    </section>
    <section class="opportunities" *ngIf="this.featureService.opportunities">
        <app-opportunities></app-opportunities>
    </section>
    <section class="reports" *ngIf="this.featureService.reports">
        Reports works!
    </section>
    <section class="dashboards" *ngIf="this.featureService.files">
        Files works!
    </section>
</main>