.home-container {
    padding: 0 1%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.home-body {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
/* Home header */

.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Home nav */

.home-nav {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: 20px;
}
@media screen and (max-width: 1250px) {
    .home-nav {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
}
@media screen and (max-width: 630px) {
    .home-nav {
        grid-template-columns: repeat(1, minmax(250px, 1fr));
    }
}
.home-stats-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: #ffffff;
}
.home-stats-card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}
.home-stats-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 30px 20px;
}
.home-stats-card-content fa-icon {
    font-size: 60px;
    color: #000000;
}
.home-stats-card-content h1 {
    font-size: 2.5em;
    margin: 0;
}
.home-stats-card-content p {
    font-size: 1.2em;
    margin: 0;

}
.home-stats-card-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #eeeeee;
    font-size: 0.9em;
    border-radius: 0 0 10px 10px;
}
.home-stats-card-nav p {
    margin: 0;
    padding: 10px 0;
}
.lead-stats {
    background-color: #6BCB3D;;
}
.lead-stats .home-stats-card-content fa-icon {
    color: rgba(85, 162, 49, 1);;
}
.lead-stats .home-stats-card-nav {
    background-color: rgba(85, 162, 49, 1);
}
.account-stats {
    background-color: #FFC107;
}
.account-stats .home-stats-card-content fa-icon {
    color: rgb(175, 132, 1);
}
.account-stats .home-stats-card-nav {
    background-color: rgb(175, 132, 1);
}
.opportunity-stats {
    background-color: #007BFF;
}
.opportunity-stats .home-stats-card-content fa-icon {
    color: rgb(0, 78, 161);
}
.opportunity-stats .home-stats-card-nav {
    background-color: rgb(0, 78, 161);
}
.contact-stats {
    background-color: #DC3545;
}
.contact-stats .home-stats-card-content fa-icon {
    color: rgb(150, 0, 0);
}
.contact-stats .home-stats-card-nav {
    background-color: rgb(150, 0, 0);
}

/* Second content part */

.home-body-row h2 {
    font-size: 1.2em;
}
.home-body-row:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 20px;
}
.home-estimated-value-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
}
.home-estimated-value img {
    height: 350px;
    margin-top: -80px;
    margin-bottom: -100px;
}
.home-estimated-value-content h1 {
    font-size: 1.6em;
    margin: 0;
}
.home-estimated-value-content p {
    font-size: 1.2em;
    margin: 0;
    font-weight: 600;
    padding-bottom: 10px;
}
.home-estimated-value-content span {
    font-size: 0.8em;
}
@media screen and (max-width: 1140px) {
    .home-body-row:nth-child(2) {
        grid-template-columns: repeat(1, minmax(250px, 1fr));
    }
}
@media screen and (max-width: 555px) {
    .home-estimated-value img {
        height: 250px;
        margin-bottom: -50px;
    }
}
@media screen and (max-width: 415px) {
    .home-estimated-value img {
        height: 200px;
        margin-bottom: -50px;
    }
}

/* Alerts */

.home-alerts-content {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 400px;
    margin-top: 20px;
}
.no-home-alerts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: -webkit-fill-available;
    text-align: center;
}
.no-home-alerts div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.4em;
}
.no-home-alerts div p {
    margin: 0;
}
.no-home-alerts h1 {
    font-size: 1.2em;
    margin: 0;
}

/* Settings and help */

.home-body hr {
    width: 100%;
    border-top: 1px solid #000000;
    border-bottom: none;
    border-right: none;
    border-left: none;
}
.settings-help-nav {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 20px;
}
@media screen and (max-width: 965px) {
    .settings-help-nav {
        grid-template-columns: repeat(1, minmax(250px, 1fr));
    }
}
.home-settings-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: #ffffff;
    background-color: #888888;
}
.home-settings-card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}
.home-settings-card-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding: 30px 20px;
}
.home-settings-card-content fa-icon {
    font-size: 60px;
    color: #4f4f4f;
}
.home-settings-card-content h1 {
    font-size: 2.5em;
    margin: 0;
    color: #4f4f4f;
}
@media screen and (max-width: 700px) {
    .home-settings-card-content h1, .home-help-card-content h1 {
        font-size: 1.8em !important;
    }
    .home-help-card-content fa-icon, .home-settings-card-content fa-icon {
        font-size: 45px !important;
    }
}
.home-settings-card-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #eeeeee;
    font-size: 0.9em;
    border-radius: 0 0 10px 10px;
    background-color: #4f4f4f;
}

.home-help-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: #ffffff;
    background-color: #815482;
}
.home-help-card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}
.home-help-card-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding: 30px 20px;
}
.home-help-card-content fa-icon {
    font-size: 60px;
    color: #523552;
}
.home-help-card-content h1 {
    font-size: 2.5em;
    margin: 0;
    color: #523552;
}
.home-help-card-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #eeeeee;
    font-size: 0.9em;
    border-radius: 0 0 10px 10px;
    background-color: #523552;
}