<div class="home-container">
    <div class="home-header">
        <h1>Home</h1>
    </div>
    <div class="home-body">
        <div class="home-body-row">
            <div class="home-nav">
                <div class="home-stats-card lead-stats">
                    <div class="home-stats-card-content">
                        <div class="home-stats-content-item">
                            <h1>100</h1>
                            <p>Active Leads</p>
                        </div>
                        <div class="home-stats-content-item">
                            <fa-icon [icon]="faUsers"></fa-icon>
                        </div>
                    </div>
                    <div class="home-stats-card-nav">
                        <p>View Leads</p>
                        <fa-icon [icon]="faCircleRight"></fa-icon>
                    </div>
                </div>
                <div class="home-stats-card account-stats">
                    <div class="home-stats-card-content">
                        <div class="home-stats-content-item">
                            <h1>100</h1>
                            <p>Open Accounts</p>
                        </div>
                        <div class="home-stats-content-item">
                            <fa-icon [icon]="faBuilding"></fa-icon>
                        </div>
                    </div>
                    <div class="home-stats-card-nav">
                        <p>View Accounts</p>
                        <fa-icon [icon]="faCircleRight"></fa-icon>
                    </div>
                </div>
                <div class="home-stats-card opportunity-stats">
                    <div class="home-stats-card-content">
                        <div class="home-stats-content-item">
                            <h1>100</h1>
                            <p>Active Opportunities</p>
                        </div>
                        <div class="home-stats-content-item">
                            <fa-icon [icon]="faHandshake"></fa-icon>
                        </div>
                    </div>
                    <div class="home-stats-card-nav">
                        <p>View Opportunities</p>
                        <fa-icon [icon]="faCircleRight"></fa-icon>
                    </div>
                </div>
                <div class="home-stats-card contact-stats">
                    <div class="home-stats-card-content">
                        <div class="home-stats-content-item">
                            <h1>100</h1>
                            <p>Contacts</p>
                        </div>
                        <div class="home-stats-content-item">
                            <fa-icon [icon]="faAddressBook"></fa-icon>
                        </div>
                    </div>
                    <div class="home-stats-card-nav">
                        <p>View Contacts</p>
                        <fa-icon [icon]="faCircleRight"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-body-row">
            <div class="home-body-row-item">
                <h2>Recent Activity</h2>
            </div>
            <hr />
            <div class="home-body-row-item"></div>
        </div>  
    </div>
</div>